##
## Apache httpd access control
##
## $Id$
##

## Allow GET for all
#<LimitExcept GET>
#  order allow,deny
#  allow from all
#</LimitExcept>
<Limit GET>
  order deny,allow
  allow from all
</Limit>


# allow all files
<Files *>
  order deny,allow
  allow from all
</Files>


# BEGIN real-path seo rewrite
<IfModule mod_rewrite.c>
RewriteEngine on
## adjust
#RewriteBase /zenmagick/apps/admin/web
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
# END real-path seo rewrite
