RewriteEngine on
## TODO??
#RewriteBase /zen-cart/

## NOTE: Remember to update zenmagick/core/html/htm_href.php when making changes here
RewriteRule ^static/([^/]+)/([^/]+)/?$ index.php?main_page=static&cat=$1#$2 [QSA,L]
RewriteRule ^static/([^/]+)/?$ index.php?main_page=static&cat=$1 [QSA,L]

RewriteRule ^reviews/new/([0-9]+)/?$ index.php?main_page=product_reviews_write&products_id=$1 [QSA,L]
RewriteRule ^reviews/([0-9]+)/([0-9]+)/?$ index.php?main_page=product_reviews_info&products_id=$1&reviews_id=$2 [QSA,L]
RewriteRule ^reviews/([0-9]+)/?$ index.php?main_page=product_reviews&products_id=$1 [QSA,L]

RewriteRule ^(shopping)?cart/?$ index.php?main_page=shopping_cart [QSA,L]

RewriteRule ^addressbook/?$ index.php?main_page=address_book [QSA,L]
RewriteRule ^orderhistory/([0-9]+)/?$ index.php?main_page=account_history_info&order_id=$1 [QSA,L]

RewriteRule ^account/notifications/?$ index.php?main_page=account_notifications [QSA,L]
RewriteRule ^account/newsletters/?$ index.php?main_page=account_newsletters [QSA,L]
RewriteRule ^account/password/process?$ index.php?main_page=account_password&action=process [QSA,L]
RewriteRule ^account/password/?$ index.php?main_page=account_password [QSA,L]
RewriteRule ^account/edit/process/?$ index.php?main_page=account_edit&action=process [QSA,L]
RewriteRule ^account/edit/?$ index.php?main_page=account_edit [QSA,L]
RewriteRule ^account/?$ index.php?main_page=account [QSA,L]
RewriteRule ^login/process/?$ index.php?main_page=login&action=process [QSA,L]
RewriteRule ^login/?$ index.php?main_page=login [QSA,L]
RewriteRule ^logoff/?$ index.php?main_page=logoff [QSA,L]

RewriteRule ^manufacturer/([0-9]+)/([0-9]+)/([0-9]+)/([0-9a-z]+)/?$ index.php?main_page=index&manufacturers_id=$1&page=$2&filter_id=$3&sort=$4 [QSA,L]
RewriteRule ^manufacturer/([0-9]+)/([0-9]+)/([0-9]+)/?$ index.php?main_page=index&manufacturers_id=$1&page=$2&filter_id=$3 [QSA,L]
RewriteRule ^manufacturer/([0-9]+)/([0-9]+)/?$ index.php?main_page=product_info&manufacturers_id=$1&products_id=$2 [QSA,L]
RewriteRule ^manufacturer/([0-9]+)/?$ index.php?main_page=index&manufacturers_id=$1 [QSA,L]

RewriteRule ^model/([-0-9a-zA-Z]+)/([0-9_]+)/?$ index.php?main_page=product_info&model=$1&cPath=$2 [QSA,L]
RewriteRule ^model/([-0-9a-zA-Z]+)/?$ index.php?main_page=product_info&model=$1 [QSA,L]

RewriteRule ^product/([0-9]+)/([0-9_]+)/?$ index.php?main_page=product_info&products_id=$1&cPath=$2 [QSA,L]
RewriteRule ^product/([0-9]+)/?$ index.php?main_page=product_info&products_id=$1 [QSA,L]

RewriteRule ^category/([0-9_]+)/([0-9]+)/([0-9a-z]+)/?$ index.php?main_page=index&cPath=$1&page=$2&sort=$3 [QSA,L]
RewriteRule ^category/([0-9_]+)/([0-9]+)/?$ index.php?main_page=index&cPath=$1&page=$2 [QSA,L]
RewriteRule ^category/([0-9_]+)/?$ index.php?main_page=index&cPath=$1 [QSA,L]

RewriteRule ^([^/]+)/?$ index.php?main_page=$1 [QSA,L]
RewriteRule ^$ index.php [QSA,L]
