<?php use ZenMagick\StoreBundle\Services\Products; ?>

<tr class="<?php echo ($odd?"odd":"even").($first?" first":" other") ?>">
    <!-- need id on link to identify the product -->
    <td><a href="<?php echo $net->product($product->getId(), $view['request']->getParameter('categoryId')) ?>" id="product_<?php echo $product->getId() ?>" class="product"><?php echo $html->image($product->getImageInfo(), Products::IMAGE_SMALL) ?></a></td>
    <td class="pinfo">
        <a href="<?php echo $net->product($product->getId()) ?>">{{ product.name }}</a><br/>
        <?php echo $html->more($product->getDescription(), 120) ?>
    </td>
    <td class="pprice">{{ utils.formatMoney(product.price) }}</td>
</tr>
