{% autoescape 'js' %}
$(document).ready(function() {
    $('#countryId').change(updateState);
});

function updateState() {
    // show timer
    var zoneId = $('#zoneId');
    var state = $('#state');
    var sz = ((0 < zoneId.size()) ? zoneId : state);
    sz.after('<span id="state_timer"><img src="{{ asset('bundles/storefront/images/circle-ball-dark-antialiased.gif') }}" />{{ 'Loading...'|trans }}</span>');

    var countryId = $('#countryId').val();
    $.ajax({
        type: "GET",
        url: "{{ net.ajax('country', 'getZonesForCountryId') }}",
        data: "countryId="+countryId,
        success: function(msg) {
            // remove timer
            $('#state_timer').remove();
            var zoneList = JSON.parse(msg);
            if (0 < zoneList.length) {
                var state_value = $('#state').val();
                var state_select = '<select id="zoneId" name="zoneId">';
                state_select += '<option value="">{{ '-- Please select a state --'|trans }}</option>';
                for (var ii=0; ii < zoneList.length; ++ii) {
                    var option = zoneList[ii];
                    var selected = state_value == option ? ' selected="selected"' : '';
                    state_select += '<option value="'+option.id+'"'+selected+'>'+option.name+'</option>';
                }
                state_select += '</select>';

                // replace with dropdown
                sz.after(state_select).remove();
            } else {
                // free text
               sz.after('<input type="text" id="state" name="state" value="" />').remove();
            }
        }
    });
}
{% endautoescape %}
