<div id="footer">
    <p id="fpages">
        <?php foreach ($view->container->get('ezPageService')->getPagesForFooter($view['request']->getLocaleId()) as $page) { ?>
            <?php echo $html->ezpageLink($page->getId()) ?>
        <?php } ?>
    </p>

    <div id="bannerFive"><?php echo $this->fetchBlockGroup('banners.footer2') ?></div>

    <p id="sview">
        <a href="<?php echo $view['router']->generate('source_view', array('layout_name' => $view->getLayout())) ?>">Layout: '<?php echo basename($view->getLayout()) ?>'</a>
        <a href="<?php echo $view['router']->generate('source_view', array('view_name' => $view['request']->getRouteId())) ?>">View: '<?php echo basename($view['request']->getRouteId()) ?>'</a>
    </p>
    <p>Powered by <a href="http://www.zen-cart.com">zen-cart</a> and <a href="http://www.zenmagick.org">ZenMagick</a></p>
    <p>&copy; 2006-2012  <a href="http://www.zenmagick.org">ZenMagick</a> |
      Design based on <a href="http://www.freecsstemplates.org/preview/convergence">Convergence</a> by
      <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
</div>
