*~
*.swp
*.cache
Thumbs.db
local.properties
local.xml
global.yaml
/build
/config/store-config.yaml
/config/store-container.yaml
/config/store-email.xml
/vendor/*
!/vendor/classloader.ini
!/vendor/openwall
!/vendor/pear
!/vendor/pomo
