*~
*.swp
*.cache
Thumbs.db
local.properties
local.xml
local.php
global.yaml
/build
/config/store-config.yaml
/config/store-container.yaml
/config/admin/config_*.yaml
/config/store/config_*.yaml
/vendor/*
!/vendor/classloader.ini
!/vendor/Savant3-3.0.1
