##
## Apache httpd access control for ZenMagick
##
## This is the most restrictive configuration, with exceptions configured
## in subfolders as required.
##

## set the ZenMagick environment
#SetEnv ZM_ENVIRONMENT PRODUCTION

## no directory indexing
Options -Indexes

## disable all access methods
#<LimitExcept>
#  order allow,deny
#  deny from all
#</LimitExcept>
<Limit GET POST PUT DELETE>
  order deny,allow
  deny from all
</Limit>


# generally deny access to PHP files
<Files *.php>
  order deny,allow
  deny from all
</Files>
