<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<?php echo $language->getCode() ?>">
<head>
<title><?php _vzm("Order update #%s", $currentOrder->getId()) ?></title>
</head>
<body>
<body>
<div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
<p><?php _vzm("Dear %s %s,", $currentAccount->getFirstName(), $currentAccount->getLastName()) ?></p>

<p><?php _vzm("This is to inform you that your order #%s has been updated.", $currentOrder->getId()) ?></p>
<?php if (ZenMagick\StoreBundle\Entity\Account::REGISTERED == $currentAccount->getType()) {
    $href = '<a href="'.$view['router']->generate('account_history_info', array('order_id', $currentOrder->getId()), true).'">'.sprintf(_zm("order #%s"), $currentOrder->getId()).'</a>';
} else {
    $href = '<a href="'.$view['router']->generate('guest_history', array(), true).'">'.sprintf(_zm("order #%s"), $currentOrder->getId()).'</a>';
} ?>
<p><?php _vzm("More details can be found at the following URL: %s", $href) ?></p>

<?php if ($newOrderStatus != $currentOrder->getStatusName()) { ?>
<?php _vzm("The new order status is: %s.", $newOrderStatus) ?>
<?php } ?>

<?php if (!empty($comment)) { ?>
<p><?php _vzm("The following comment has been added to your order:") ?></p>
<p><?php echo $html->text2html($comment) ?></p>
<?php } ?>

<p><?php _vzm("Regards, %s", $view['settings']->get('storeName')) ?></p>

<?php echo $utils->staticPageContent('email_advisory') ?>
</div>
</body>
</html>
