<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<?php echo $language->getCode() ?>">
<head>
<title><?php _vzm("Product recommendation from %s at %s", $emailMessage->getFromName(), $view['settings']->get('storeName')) ?></title>
</head>
<body>
<body>
<div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
<p><?php _vzm("Hi %s,", $emailMessage->getToName()) ?></p>

<p><?php _vzm("Your friend, %s, thought that you would be interested in %s from %s.", $emailMessage->getFromName(), $currentProduct->getName(), $view['settings']->get('storeName')) ?></p>

<?php if ($emailMessage->hasMessage()) { ?>
<p>
<?php _vzm("%s also sent a note saying:", $emailMessage->getFromName()) ?><br>
<?php echo $html->text2html($emailMessage->getMessage()) ?>
</p>
<?php } ?>

<?php $href = '<a href="'.$net->product($currentProduct->getId(), null).'">'.$view->escape($currentProduct->getName()).'</a>'; ?>
<p><?php _vzm("To view the product, click on the following link or copy and paste the link into your web browser: %s", $href) ?></p>

<p><?php _vzm("Regards, %s", $view['settings']->get('storeOwner')) ?></p>

<?php echo $utils->staticPageContent('email_advisory') ?>
</div>
</body>
</html>
