#
# admin default settings
#

## general settings
zenmagick:
  version: ${zenmagick.version}

  ## core
  core:
    ## fs
    fs:
      permissions:
        fix: true
        defaults:
          file: 0666
          folder: 0777

    ## security
    security:
      defaultAuthenticationProvider: ZMZenCartAuthentication

  ## base
  base:
    ## events
    events:
      listeners:
        - zenmagick\apps\store\bundles\ZenCartBundle\ZenCartBundle
        - zenmagick\apps\store\StoreEventListener
        - zenmagick\http\EventListener
        - zenmagick\apps\admin\EventListener
  ## mvc
  mvc:
    ## request
    request:
      index: views/index.php
      missingPage: views/error.php

    ## rpc
    rpc:
      format: JSON

  http:
    ## request
    request:
      invalidSession: login
      login: login
      urlType: path
      secure: false
      enforceSecure: false
    routing:
      alias: {}
      addnRouteFiles: []
    ## sacs
    sacs:
      handler:
        - zenmagick\http\sacs\handler\UserRoleSacsHandler
    ## templates
    templates:
      ext: .php

## app settings
apps:
  store:
    admin:
      menus:
        - 'apps/admin/config/menu.yaml' #placeholder for apps/admin?
    dashboad:
      default: '{"layout":"col2r","widgets":[["ref::storeStatusDashboardWidget", "ref::latestOrdersDashboardWidget"], ["ref::orderStatsDashboardWidget","ref::latestAccountsDashboardWidget"]]}'
    zencart:
      skipLayout:
        - packingslip
        - invoice
    verifyCategoryPath: false

storeDefaultLanguageId: 1

#  price calculation decimals for rounding
calculationDecimals: 4

# HTML generation / validation
isJSTarget: true
isAutoJSValidation: true
