#
# admin default settings
#

## general settings
zenmagick:
  version: ${zenmagick.version}

  ## core
  core:
    ## fs
    fs:
      permissions:
        fix: true
        defaults:
          file: 0666
          folder: 0777

    ## security
    security:
      defaultAuthenticationProvider: ZMZenCartAuthentication

  ## base
  base:
    ## locales
    locales:
      locale: en_NZ
      handler: zenmagick\base\locales\handler\PomoLocale

    ## events
    events:
      listeners:
        ## TODO: these should be swapped
        - zenmagick\apps\store\StoreEventListener
        - zenmagick\http\EventListener
        - zenmagick\apps\store\admin\AdminEventHandler
    ## logging
    logging:
      level: ALL
      enabled: false
      handleErrors: true

  ## mvc
  mvc:
    # enable/disable transaction support in request processing
    transactions:
      enabled: false

    ## templates
    templates:
      ext: .php

    ## view
    view:
      defaultLayout: default_layout.php

    ## request
    request:
      index: views/index.php
      missingPage: views/error.php

    ## html
    html:
      xhtml: false
      charset: utf-8

    ## rpc
    rpc:
      format: JSON

  http:
    ## html
    html:
      xhtml: false
    ## session
    session:
      useFqdn: false
    ## request
    request:
      invalidSession: login
      login: login
      urlType: default
      enforceSecure: true
    controller:
      namespaces:
        - zenmagick\apps\store\admin\controller

    ## sacs
    sacs:
      handler:
        - zenmagick\http\sacs\handler\UserRoleSacsHandler
      mappingProviders:
        - zenmagick\apps\store\admin\services\DBSacsPermissionProvider
  ## bundles
  bundles:
    ZenCartBundle: zenmagick\apps\store\bundles\ZenCartBundle\ZenCartBundle
    DoctrineBundle: Doctrine\Bundle\DoctrineBundle\DoctrineBundle 
    DoctrineMigrationsBundle: Doctrine\Bundle\MigrationsBundle\DoctrineMigrationsBundle
    SwiftmailerBundle: Symfony\Bundle\SwiftmailerBundle\SwiftmailerBundle 


## app settings
apps:
  store:
    admin:
      domain: null
    dashboad:
      default: '{"layout":"col2r","widgets":[["ref::storeStatusDashboardWidget", "ref::latestOrdersDashboardWidget"], ["ref::orderStatsDashboardWidget","ref::latestAccountsDashboardWidget"]]}'
    themes:
      default: base
    zencart:
      skipLayout:
        - packingslip
        - invoice
    verifyCategoryPath: false

storeDefaultLanguageId: 1

#  price calculation decimals for rounding
calculationDecimals: 4

# HTML generation / validation
isJSTarget: true
isAutoJSValidation: true
