parameters:
  # default session timeout
  admin.session_timeout: 1440

services:
  request:
    class: Request
    scope: container

  ZMPlugins:
    class: Plugins
    scope: container
  pluginService: @ZMPlugins

  sessionHandler:
    class: ZMZenCartSessionHandler
    scope: container
    calls:
      - [setExpiryTime, [%admin.session_timeout%]]

  storeViewUtils:
    class: ZMViewUtils
    scope: prototype
    calls:
      - [setResourcesAsTemplates, [true]]

  storeEmailView:
    class: SavantView
    scope: prototype
    calls:
      - [setConfig, [{ 'cache' => 'ZMSimpleSavantCache' }]]
      - [setFilters, ['ZMShortTagFilter']]
      - [setViewUtils, [@storeViewUtils]]

  ZMSavantView:
    class: ZMSavantView
    scope: prototype
    calls:
      - [setConfig, [{ 'cache' => 'ZMSimpleSavantCache' }]]
      - [setFilters, ['ZMShortTagFilter']]
  defaultView: @ZMSavantView

  adminUserPrefService:
    class: ZMAdminUserPrefs
    scope: container

  adminUserRoleService:
    class: ZMAdminUserRoles
    scope: container

  adminUserService:
    class: ZMAdminUsers
    scope: container

  sacsPermissionService:
    class: ZMSacsPermissions
    scope: container

  ZMInstallationPatcher:
    class: ZMInstallationPatcher
    scope: container

  session:
    class: zenmagick\http\session\Session
    arguments: [%apps.store.admin.domain%]
    scope: container
    calls:
      - [setName, ['zmAdmin']]
      - [registerSessionHandler, [@sessionHandler]]
      - [setUseFqdn, [%zenmagick.http.session.useFqdn%]]

  plainEditorWidget:
    class: ZMTextAreaFormWidget
    scope: container
    tags:
      -  { name: zenmagick.apps.store.editor, label: Plain }

  adminMenu:
    class: apps\store\menu\Menu
    scope: container

  catalogDefaultTabController:
    class: ZMCatalogDefaultTabController
    scope: container
    tags:
      - { name: apps.store.admin.tabcontroller }

  userFactory:
    class: ZMAdminUserFactory
    scope: container
    
  dashboard:
    class: ZMDashboard
    scope: container

  orderStatsDashboardWidget:
    class: ZMOrderStatsDashboardWidget
    scope: prototype
    tags:
      - { name: apps.store.admin.dashboard.widget }

  latestOrdersDashboardWidget:
    class: ZMLatestOrdersDashboardWidget
    scope: prototype
    tags:
      - { name: apps.store.admin.dashboard.widget }

  latestAccountsDashboardWidget:
    class: ZMLatestAccountsDashboardWidget
    scope: prototype
    tags:
      - { name: apps.store.admin.dashboard.widget }

  recentSearchesDashboardWidget:
    class: ZMRecentSearchesDashboardWidget
    scope: prototype
    tags:
      - { name: apps.store.admin.dashboard.widget }

  updateCheckerDashboardWidget:
    class: ZMUpdateCheckerDashboardWidget
    scope: prototype
    tags:
      - { name: apps.store.admin.dashboard.widget }

  pendingDashboardWidget:
    class: ZMPendingDashboardWidget
    scope: prototype
    tags:
      - { name: apps.store.admin.dashboard.widget }

  counterHistoryDashboardWidget:
    class: ZMCounterHistoryDashboardWidget
    scope: prototype
    tags:
      - { name: apps.store.admin.dashboard.widget }

  basicStatsDashboardWidget:
    class: ZMBasicStatsDashboardWidget
    scope: prototype
    tags:
      - { name: apps.store.admin.dashboard.widget }

  storeStatusDashboardWidget:
    class: ZMStoreStatusDashboardWidget
    scope: prototype
    tags:
      - { name: apps.store.admin.dashboard.widget }

