{% if themeList is defined and themeList %}
    <div id="theme-switcher" style="z-index:1000;text-align:right;padding:2px 8px;position:absolute;top:3px;right:4px;color:black;background-color:#abc;text-align:left;border:1px solid #ddd;border-radius:.5em;">
        <label for="selected-theme">{{ 'Select Theme:'|trans }} </label>
        <br>
        <select id="selected-theme" name="selectedTheme" onchange="window.location=this.value;" style="color:black;background:white;">
            {% for info in themeList %}
                <option value="{{ info['url'] }}" {{ info['active'] ? ' selected="selected"'|raw }}>
                    {{ info['name'] }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endif %}
