#productImages{float:left}

#productDetails{
	width: 400px;
}

/** bof detail price **/

#productPrices .productSpecialPrice span{
	padding-left: 80px;
}
#productPrices .normalprice span{
	padding-left: 50px;
}
#productPrices .productPriceDiscount span{
	padding-left: 80px;
}

#productPrices .productSpecialPrice, #productPrices .productPriceDiscount, #productPrices .itemNormalPrice, #productPrices .normalprice, #productPrices .productsIsFree, #productPrices .productSalePrice{
	color: #151515;
	font-size: 1.2em;
}
#productPrices .productSpecialPrice span{
	color: #990000;
	font-size: 1.4em;
}

#productPrices .itemNormalPrice span{
	color: #990000;
	font-size: 1.1em;
}

#productPrices .itemNormalPrice span{
	padding-left: 20px;
}

#productPrices .productSalePrice span{
	padding-left: 83px;
}

#productPrices .productsIsFree span{
	padding-left: 20px;
}

.priceIsFree{
	color: #f05922;
	text-transform: uppercase;
}

/*.priceIsFree{
	background: url(../images/icon_shipping.png) no-repeat left;
	padding-left: 30px;
	text-transform: uppercase;
	color: #6c6c6c;
	width: 115px;
}
*/


.normalprice, .productSpecialPrice, .productPriceDiscount, .priceIsFree, .productsIsFree, .minUnits, .productSpecialPriceSale, .callForPrice, .itemNormalPrice{
	margin-bottom: 5px;
}

/** eof detail price **/

/** bof image info **/
.imgLink{
	background: url(../images/icon_zoom.gif) no-repeat left;
	padding: 5px 0 5px 30px;
}
#productMainImage a{
	color: #f05922;
	font-size: 1.2em;
	font-weight: bold;
}
#productMainImage a:hover{
	text-decoration: underline;
	color: #f05922;
}
#productMainImage img{
	width: 300px;
}
/** eof image info **/

/** bof product description **/

#productDescription h1{
	font-size: 1.3em;
}
#productDescription h2{
	font-size: 1.2em;
}
#productDescription h3{
	font-size: 1.1em;
}

/** eof product description **/

/** bof tellAFriendInfo **/

#tellAFriendInfo{
	height: 30px;
	background: url(../images/icon_bg.gif) repeat-x left top;
	font-size: 0.9em;
}

#tellAFriendInfo ul{
	padding: 10px 0 10px 5px;
}

#tellAFriendInfo li{
	display: inline;
	padding: 3px 5px 5px 0;
}

#tellAFriendInfo li a{
	color: #5e5e5e;
}
#tellAFriendInfo li a:hover{
	text-decoration: underline;
}

li#tellAFriend{
	background: url(../images/icon_mail.gif) no-repeat top left;
	padding-left: 18px;
}
li#writeReview{
	background: url(../images/icon_write.gif) no-repeat top left;
	padding-left: 22px;
}
li#readTheReviews{
	background: url(../images/icon_read.gif) no-repeat top left;
	padding-left: 22px;
}
/** eof tellAFriendInfo **/