#
# storefront default settings
#

## general settings
zenmagick:
  version: ${zenmagick.version}

  ## core
  core:
    ## security
    security:
      defaultAuthenticationProvider: ZMZenCartAuthentication

    ## fs
    fs:
      permissions:
        fix: true
        defaults:
          file: 0666
          folder: 0777

  ## base
  base:
    ## locales
    locales:
      locale: en_NZ
      handler: zenmagick\base\locales\handler\PomoLocale

    ## events
    events:
      listeners:
        - zenmagick\apps\store\StoreEventListener
        - zenmagick\apps\store\storefront\utils\EventFixes
    ## logging
    logging:
      level: INFO
      enabled: false
      handleErrors: true

  ## mvc
  mvc:
    # enable/disable transaction support in request processing
    transactions:
      enabled: false

    ## templates
    templates:
      ext: .php

    ## request
    request:
      missingPage: page_not_found.php

    ## html
    html:
      xhtml: true
      charset: utf-8
      tokenSecuredForms: login
 
    ## view
    view:
      defaultLayout: default_layout.php

    ## resultlist
    resultlist:
      defaultPagination: 10

  http:
    #html
    html:
      xhtml: true
    ## request
    request:
      idName: main_page
      invalidSession: cookie_usage
      login: login
      enforceSecure: true
    controller:
      namespaces:
        - zenmagick\apps\store\storefront\controller
    ## sacs
    sacs:
      handler:
        - ZMZenCartAccountSacsHandler
  ## bundles
  bundles:
    ZenCartBundle: zenmagick\apps\store\bundles\ZenCartBundle\ZenCartBundle
    DoctrineBundle: Doctrine\Bundle\DoctrineBundle\DoctrineBundle 
    SwiftmailerBundle: Symfony\Bundle\SwiftmailerBundle\SwiftmailerBundle 

apps:
  store:
    #default access level; same as anonymous
    defaultAccessLevel: null
    # sanitize attributes when handling product submissions (add to cart, etc)
    isSanitizeAttributes: true

    staticContent: true
    storefront:
      domain: null
    themes:
      default: base
    # verify category path
    verifyCategoryPath: false
    newAccountDiscountCouponId: null
    newAccountGVAmount: 0

# enable/disable web stats; this does not include login counts, etc, but product views and such
isLogPageStats: true

# enable gift vouchers
isEnabledGV: false
# enable coupons
isEnabledCoupons: false
# allow anonymous tell a friend; good for spamming ;)
isTellAFriendAnonymousAllow: false
# do reviews need to be approved
isApproveReviews: true
# customer approval default value
defaultCustomerApproval: 0

## Layout
# allow unsubscribe without logging in
isAllowAnonymousUnsubscribe: true
# max
maxBestSellers: 10
maxSpecialProducts: 10
maxNewProducts: 10
maxRandomReviews: 10
# range of enabled order stati to show downloads
downloadOrderStatusRange: '2-4'
# sort attributes by name rather than the sort order
isSortAttributesByName: false
# sort attribute values by name rather than sort order
isSortAttributeValuesByPrice: false
# base attribute price factor on discounted or regular price
isDiscountAttributePriceFactor: false


## Tax settings
# tax decimal places
taxDecimalPlaces: 0
# tax inclusive/exclusive
showPricesTaxIncluded: false
# product tax base
productTaxBase: shipping #shipping,billing,store
# shipping tax base
shippingTaxBase: shipping #shipping,billing,store

## Error pages, other global page settings
# static homepage
staticHome: null
# use category page
isUseCategoryPage: false
# show category listing for single products or show product page instead?
isSkipSingleProductCategory: false
# show cart after product added
isShowCartAfterAddProduct: true

## Stock handling
# enable stock tracking
isEnableStock: true,
# allow checkout of low stock products (low meaning 'out of stock')
isAllowLowStockCheckout: false

## optional account data
isAccountNickname: false
isAccountGender: true
isAccountDOB: true
isAccountCompany: false
isAccountState: true
isAccountNewsletter: false
isAccountReferral: false

# show privacy message
isPrivacyMessage: true
# t&c message during checkout
isConditionsMessage: true

## store info
storeDefaultLanguageId: 1

## guest checkout
isGuestCheckout: false,
isLogoffGuestAfterOrder: false,
isGuestCheckoutAskAddress: true

## formatting and other defaults
# comma separated lists
resultListProductFilter: 'ZMCategoryFilter,ZMManufacturerFilter'
resultListProductSorter: 'ZMProductSorter'
# cart form constants
textOptionPrefix: txt_
uploadOptionPrefix: upload_

## TODO: These are free shipping ot options!
isOrderTotalFreeShipping: false
freeShippingDestination:
freeShippingOrderThreshold:

## Banners
banners:
  # banner group names to apply to these banner positions
  header1: ''
  header2: ''
  header3: ''
  footer1: ''
  footer2: ''
  footer3: ''
  box1: ''
  box2: ''
  all: ''

## Image settings
# show no image found image
isShowNoPicture: false
# the 'no image found' image
imgNotFound: no_picture.gif
# suffix for medium size images
imgSuffixMedium: _MED
# suffix for large size images
imgSuffixLarge: _LRG

#  price calculation decimals for rounding
calculationDecimals: 4

# HTML generation / validation
isJSTarget: true
isAutoJSValidation: true

## Meta tag options

# keyword delimiter
metaTagKeywordDelimiter: ', '
# delimiter for meta tag crumbtrail content
metaTagCrumbtrailDelimiter: ' - '
# meta tag title delimiter
metaTitleDelimiter: ' :: '
# setting prefix to lookup custom meta tag data; example 'title_index'
metaTitlePrefix: title_
# add store name to title
isStoreNameInTitle: true
