#
# storefront default settings
#

## general settings
zenmagick:
  version: ${zenmagick.version}

  ## core
  core:
    ## db
    database:
      provider: ZMPdoDatabase
      mappings:
        file: config/db_mappings.txt
        cache:
          enabled: false
        autoMap:
          enabled: true

    ## security
    security:
      defaultAuthenticationProvider: ZMZenCartAuthentication

    ## fs
    fs:
      permissions:
        fix: true
        defaults:
          file: 0666
          folder: 0777

  ## base
  base:
    ## locales
    locales:
      locale: en_NZ
      handler: zenmagick\base\locales\handler\PomoLocale

    ## events
    events:
      listeners:
        ## TODO: these should be swapped
        - apps\store\StoreEventListener
        - zenmagick\http\EventListener
        - zenmagick\apps\storefront\utils\EventFixes
    ## logging
    logging:
      level: INFO
      enabled: false
      handleErrors: true

  ## mvc
  mvc:
    ## templates
    templates:
      ext: .php

    ## request
    request:
      missingPage: page_not_found

    ## html
    html:
      xhtml: true
      charset: utf-8
      tokenSecuredForms: login
 
    ## view
    view:
      defaultLayout: default_layout
    controller:
      default: zenmagick\apps\storefront\controller\DefaultController

    ## resultlist
    resultlist:
      defaultPagination: 10

  http:
    #html
    html:
      xhtml: true
    ## request
    request:
      idName: main_page
      invalidSession: cookie_usage
      login: login
      enforceSecure: true
    controller:
      namespaces:
      - zenmagick\apps\store\storefront\controller
    ## sacs
    sacs:
      handler:
        - ZMZenCartAccountSacsHandler
  ## bundles
  bundles:
    ZenCartBundle: apps\store\bundles\ZenCartBundle\ZenCartBundle
    DoctrineBundle: Doctrine\Bundle\DoctrineBundle\DoctrineBundle 
    SwiftmailerBundle: Symfony\Bundle\SwiftmailerBundle\SwiftmailerBundle 

apps:
  store:
    staticContent: true
    storefront:
      domain: null
    themes:
      default: base

# database configuration settings
# @todo allow symbolic names for the fully qualified classes mentioned here?
doctrine:
  dbal:
    logging: true # @todo has to be true for pageStats plugin to work
    logger_class: Doctrine\DBAL\Logging\DebugStack
    connections:
      default:
        driver: pdo_mysql
        dbname: zenmagick
        host: localhost
        port: null
        user: root
        password: null
        prefix:
        charset: utf8
        collation: null
        unix_socket: null
  orm:
    auto_generate_proxy_classes: true
    proxy_dir: proxies # @todo inside cache dir, should  we specify that here?
    proxy_namespace: apps\store\proxies
    metadata_cache_driver: Doctrine\Common\Cache\ArrayCache
    query_cache_driver: Doctrine\Common\Cache\ArrayCache
    result_cache_driver: Doctrine\Common\Cache\ArrayCache
    mappings:
      zenmagick:
        type: annotation
        # @todo will eventually be the namespace apps\store\entities
        prefix: ZM
        dir:
          - shared/model/account
          - shared/model/catalog
          - shared/model/checkout/coupons
          - shared/model/checkout
          - shared/model/forms
          - shared/model/layout
          - shared/model/locale
          - shared/model/order
          - shared/model
