parameters:
  # default session timeout
  storefront.session_timeout: 1440

services:
  request:
    class: Request
    scope: container

  ZMPlugins:
    class: Plugins
    scope: container
  pluginService: @ZMPlugins

  session:
    class: Session
    arguments: [%apps.store.storefront.domain%]
    scope: container
    calls:
      - [setName, ['zmsid']]
      - [registerSessionHandler, [@sessionHandler]]
      - [setUseFqdn, [%zenmagick.http.session.useFqdn%]]

  storeViewUtils:
    parent: merge:ZMViewUtils
    calls:
      - [setResourcesAsTemplates, [true]]

  ZMSavantView:
    class: SavantView
    scope: prototype
    calls:
      - [setConfig, [{ 'cache' => 'ZMSimpleSavantCache' }]]
      - [setFilters, ['ZMShortTagFilter']]
  defaultView: @ZMSavantView

  ZMMessages:
    class: Messages
    scope: container

  storeMessageService:
    parent: merge:messageService
    class: Messages

  ZMForwardView:
    class: ForwardView
    scope: prototype
  forwardView: @ZMForwardView

  sessionHandler:
    class: ZMZenCartSessionHandler
    scope: container
    calls:
      - [setExpiryTime, [%storefront.session_timeout%]]

  storeDefaultUrlRewriter:
    class: ZMStoreDefaultUrlRewriter
    scope: container
    tags:
      -  { name: zenmagick.http.request.rewriter }

  defaultRssFeedSource:
    class: ZMDefaultRssFeedSource
    scope: container
    tags:
      -  { name: zenmagick.http.rss.source }

  catalogRssFeedSource:
    class: ZMCatalogRssFeedSource
    scope: container
    tags:
      -  { name: zenmagick.http.rss.source }

