parameters:
  # default session timeout
  storefront.session_timeout: 1440

services:
  request:
    class: Request
    scope: container

  ZMPlugins:
    class: Plugins
    scope: container
  pluginService: @ZMPlugins

  session:
    class: Session
    scope: container
    calls:
      - [setName, ['zenid']]
      #- [registerSessionHandler, [@sessionHandler]]

  storeViewUtils:
    parent: merge:ZMViewUtils
    calls:
      - [setResourcesAsTemplates, [true]]

  ZMSavantView:
    class: SavantView
    scope: prototype
    calls:
      - [setConfig, [{ 'cache' => 'ZMSimpleSavantCache' }]]
      - [setFilters, ['ZMShortTagFilter']]
  defaultView: @ZMSavantView

  ZMMessages:
    class: Messages
    scope: container
  messageService: @ZMMessages

  ZMForwardView:
    class: ForwardView
    scope: prototype
  forwardView: @ZMForwardView

  sessionHandler:
    class: ZMZenCartSessionHandler
    scope: container
    calls:
      - [setExpiryTime, [%storefront.session_timeout%]]
      #- [setSyncSessionData, [false]]
