{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
    <?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb("Account", $view['router']->generate('account'))->addCrumb(_zm('Order History'))); ?>
    {% if resultList.hasResults %}
        <div class="rnblk">
            {% include('@Storefront/resultlist/nav.html.twig') %}
            <p>&nbsp;</p>
        </div>

        <div class="rlist">
            <table>
                <tbody>
                    {% for order in resultList.results %}
                        {{ include('@Storefront/resultlist/order.html.twig') }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="rnblk">
            {{ include('@Storefront/resultlist/nav.html.twig') }}
        </div>
    {% else %}
        <h2>{{ 'No orders found'|trans }}</h2>
    {% endif %}
{% endblock %}
