{% extends '@Storefront/layout.html.twig' %}
{% block crumbtrail macro.buildCrumbTrail(crumbtrail.addCrumb('Account'|trans, path('account')).addCrumb('Addresses'|trans, path('address_book')).addCrumb('New'|trans))|raw %}
{% block body %}
    {{ form.open('address_book_add', '', true, {'id' : 'address'})|raw }}
        {{ include('@Storefront/address.html.twig') }}
        <div class="btn">
            <input type="submit" class="btn" value="{{ 'Submit'|trans }}" />
        </div>
    </form>
{% endblock %}
