<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>

<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Account'), $view['router']->generate('account'))->addCrumb(_zm('Addresses'))); ?>
<?php foreach ($addressList as $address) { ?>
    <fieldset>
        <legend>
            <?php echo $view->escape($address->getFirstName() . ' ' . $address->getLastName()) ?>
            {{ address.isPrimary ? '(primary)'|trans }}
        </legend>
        <div class="btn">
            <?php if (!$address->isPrimary()) { ?>
                <a class="btn" href="<?php echo $view['router']->generate('address_book_delete', array('id' => $address->getId())) ?>">{{ 'Delete'|trans }}</a>
            <?php } ?>
            <a class="btn" href="<?php echo $view['router']->generate('address_book_edit', array('id' => $address->getId())) ?>">{{ 'Edit'|trans }}</a>
        </div>
        <?php echo $macro->formatAddress($address) ?>
    </fieldset>
<?php } ?>
<div class="btn"><a href="<?php echo $view['router']->generate('address_book_add') ?>" class="btn">{{ 'Add Address'|trans }}</a></div>
