{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}

<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Account'), $view['router']->generate('account'))->addCrumb(_zm('Addresses'), $view['router']->generate('address_book'))->addCrumb(_zm('Edit'))); ?>
<?php echo $form->open('address_book_edit', '', true) ?>
    <?php echo $this->render('StorefrontBundle::address.html.php'); ?>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Update'|trans }}" /></div>
</form>
{% endblock %}
