<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<h3><?php _vzm('Customer Authorization Pending ...') ?></h3>
<p><?php _vzm('We will contact you as soon as possible. To re-check your Authorization status ...') ?>
<a href="<?php echo $view['router']->generate('account') ?>"><?php _vzm('Click here') ?></a>.</p>
