<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<h3>{{ 'Customer Authorization Pending ...'|trans }}</h3>
<p>{{ 'We will contact you as soon as possible. To re-check your Authorization status ...'|trans }}
<a href="{{ path('account') }}">{{ 'Click here'|trans }}</a>.</p>
