<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<h1><?php _vzm("Down for Maintenance ..."); ?></h1>

<h3><?php _vzm("The site is currently down for maintenance. Please try back later.") ?></h3>

<p><a class="btn" href="<?php echo $view['router']->generate('index') ?>"><?php _vzm('Check status') ?></a></p>
