{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
    <h3>{{ 'Oops - something went wrong!'|trans }}</h3>
    <p>{{ utils.staticPageContent('error')|raw }}</p>
    {% if 'dev' == app.environment %}
        <pre>
            {% if exception is defined %}
                <h2>{{ exception.message }}</h2>
                {{ exception.traceAsString|raw }}
            {% endif %}
        </pre>
    {% endif %}
{% endblock %}
