{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<h3>{{ 'Oops - something went wrong!'|trans }}</h3>
<p>{{ utils.staticPageContent('error')|raw }}</p>
<?php if ($app->getEnvironment() == 'dev') { ?>
  <pre>
  <?php
     if (isset($exception)) {
        echo "<h2>".$exception->getMessage()."</h2>\n";
        echo $exception->getTraceAsString();
    } else { // we don't know what happened! @todo try to figure it out
        debug_print_backtrace();
    }
  ?>
  </pre>
<?php } ?>
{% endblock %}
