<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Guest Order Status'))); ?>
<?php echo $form->open('guest_history', '', true, array('id'=>'guest_history')) ?>
  <fieldset>
    <legend><?php _vzm("Find Guest Order") ?></legend>
    <div>
      <label for="email"><?php _vzm("E-Mail Address") ?></label>
      <input type="text" id="email" name="email" value="<?php echo $view->escape($view['request']->getParameter('email')) ?>" />
    </div>
    <div>
      <label for="orderId"><?php _vzm("Order Number") ?></label>
      <input type="text" id="orderId" name="orderId" value="<?php echo $view->escape($view['request']->getParameter('orderId')) ?>" />
    </div>
  </fieldset>
  <div class="btn"><input type="submit" class="btn" value="<?php _vzm("Submit") ?>" /></div>
</form>
