<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Redeem Gift Certificate'))); ?>
<h2><?php _vzm("Redeem A Gift Certificate") ?></h2>
<?php if ($gvRedeem->isRedeemed()) { ?>
  <p><?php _vzm("Congratulations, you have redeemed a Gift Certificate worth %s.", $utils->formatMoney($gvRedeem->getAmount())) ?></p>
<?php } else { ?>
  <?php echo $form->open('gv_redeem', '', true, array('id'=>'gv_redeem')) ?>
    <fieldset>
      <legend><?php _vzm("Redemption code details") ?></legend>
      <div>
        <label for="gvCode"><?php _vzm("Redemption Code") ?></label>
        <input type="text" id="gvCode" name="couponCode" value="<?php echo $view->escape($gvRedeem->getCouponCode()) ?>" />
      </div>
    </fieldset>
    <div class="btn"><input type="submit" class="btn" value="<?php _vzm("Redeem") ?>" /></div>
  </form>
<?php } ?>
<?php $faqLink = '<a href="'.$view['router']->generate('gv_faq').'">'._zm("Gift Certificate FAQ").'</a>'; ?>
<p><?php _vzm("For more information regarding Gift Certificates, please see the %s.", $faqLink) ?></p>
