<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Account'), $view['router']->generate('account'))->addCrumb(_zm('Send Gift Certificate'))); ?>
<?php echo $form->open('gv_send_confirm', '', true, array('onsubmit'=>null)) ?>
    <div>
        <input type="hidden" name="name" value="<?php echo $view->escape($gvReceiver->getName()) ?>" />
        <input type="hidden" name="email" value="<?php echo $view->escape($gvReceiver->getEmail()) ?>" />
        <input type="hidden" name="amount" value="<?php echo $view->escape($gvReceiver->getAmount()) ?>" />
        <input type="hidden" name="message" value="<?php echo $view->escape($gvReceiver->getMessage()) ?>" />
    </div>
    <fieldset>
        <legend><?php _vzm("Confirm Send Gift Certificate") ?></legend>

        <p class="note"><?php _vzm("You are about to post a Gift Certificate worth %s to %s whose email address is %s.",
          $utils->formatMoney($gvReceiver->getAmount(), false), $gvReceiver->getName(), $gvReceiver->getEmail()) ?>
        </p>

        <fieldset>
            <legend><?php _vzm("Your message") ?></legend>
            <?php echo $view->escape($gvReceiver->getMessage()) ?>
        </fieldset>

        <p class="note"><?php _vzm("If these details are not correct, you may edit your message by clicking the edit button.") ?></p>
    </fieldset>

    <div class="btn"><input type="submit" class="btn" value="<?php _vzm("Send Gift Certificate") ?>" /></div>
    <div><input type="submit" class="btn" name="edit" value="<?php _vzm("Edit") ?>" /></div>
</form>

<div class="advisory">
    <strong><?php _vzm("The following message is included with all emails sent from this site:") ?></strong><br />
    <?php echo $utils->staticPageContent('email_advisory') ?>
</div>
