<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Account'), $view['router']->generate('account'))->addCrumb(_zm('Send Gift Certificate'))); ?>
<p><?php _vzm("Current available balance: <strong>%s</strong>", $utils->formatMoney($app->getUser()->getVoucherBalance())) ?></p>
<?php echo $form->open('gv_send', '', true, array('id'=>'gvreceiverObject')) ?>
    <fieldset>
        <legend><?php _vzm("EMail Gift Certificate") ?></legend>
        <label for="name"><?php _vzm("Receiver Name") ?></label><br />
        <input type="text" id="name" name="name" size="40" value="<?php echo $view->escape($gvReceiver->getName()) ?>" /><br />
        <label for="email"><?php _vzm("Receiver EMail Address") ?><span>*</span></label><br />
        <input type="text" id="email" name="email" size="40" value="<?php echo $view->escape($gvReceiver->getEmail()) ?>" /><br />
        <label for="amount"><?php _vzm("Gift Certificate Amount") ?><span>*</span></label><br />
        <?php /* Do not convert the amout - either it is 0 or entered by the user; in either case it is fine as  is */ ?>
        <input type="text" id="amount" name="amount" value="<?php echo $utils->formatMoney($gvReceiver->getAmount(), false) ?>" /><br />
        <label for="message"><?php _vzm("Message Text") ?></label><br />
        <textarea id="message" name="message" cols="50" rows="8"><?php echo $view->escape($gvReceiver->getMessage()) ?></textarea><br />
        <p class="man"><?php _vzm("<span>*</span> Mandatory fields") ?></p>
    </fieldset>
    <div class="btn"><input type="submit" class="btn" value="<?php _vzm("Send Gift Certificate") ?>" /></div>
</form>

<p class="rclear">
    <strong><?php _vzm("The following message is included with all emails sent from this site:") ?></strong><br />
    <?php echo $utils->staticPageContent('email_advisory') ?>
</p>
