<div id="header">
    <h1><a href="{{ path('index') }}">ZenMagick</a></h1>
    <h2>As simple as that!</h2>
    <div id="bannerTwo">{{ templateManager.fetchBlockGroup('banners.header2')|raw }}</div>
</div>
