<div id="header">
  <h1><a href="<?php echo $view['router']->generate('index') ?>">ZenMagick</a></h1>
  <h2>As simple as that!</h2>
  <div id="bannerTwo"><?php echo $this->fetchBlockGroup('banners.header2') ?></div>
</div>
