{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->clear()); ?>
    {{ utils.staticPageContent('main_page')|raw }}
<?php $featured = $view->container->get('productService')->getFeaturedProducts(null, 4, false, $view['request']->getLocaleId()); ?>
<h3>{{ 'Featured Products'|trans }}</h3>
<div id="featured">
  <?php foreach ($featured as $product) { ?>
    <div>
      <p><?php echo $html->productImageLink($product) ?></p>
      <p><a href="<?php echo $net->product($product->getId()) ?>">{{ product.name }}</a></p>
      <?php $offers = $product->getOffers(); ?>
      <p>{{ utils.formatMoney(offers.calculatedPrice) }}</p>
    </div>
  <?php } ?>
</div>
{% endblock %}
