<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->clear()); ?>
<?php echo $utils->staticPageContent("main_page") ?>
<?php $featured = $view->container->get('productService')->getFeaturedProducts(null, 4, false, $view['request']->getLocaleId()); ?>
<h3><?php _vzm('Featured Products') ?></h3>
<div id="featured">
  <?php foreach ($featured as $product) { ?>
    <div>
      <p><?php echo $html->productImageLink($product) ?></p>
      <p><a href="<?php echo $net->product($product->getId()) ?>"><?php echo $view->escape($product->getName()) ?></a></p>
      <?php $offers = $product->getOffers(); ?>
      <p><?php echo $utils->formatMoney($offers->getCalculatedPrice()) ?></p>
    </div>
  <?php } ?>
</div>
