<div id="menu">
  <ul>
    <li class="first"><a href="<?php echo $view['router']->generate('index'); ?>"><?php _vzm("HOME") ?></a></li>
    <?php if (!$app->getUser()) { ?>
        <li><a href="<?php echo $view['router']->generate('login'); ?>"><?php _vzm("LOGIN") ?></a></li>
    <?php } ?>
    <?php if ($view['security']->isGranted('ROLE_REGISTERED')) { ?>
        <li><a href="<?php echo $view['router']->generate('account'); ?>"><?php _vzm("ACCOUNT") ?></a></li>
    <?php } ?>
    <?php if ($app->getUser()) { ?>
        <li><a href="<?php echo $view['router']->generate('logoff'); ?>"><?php _vzm("LOGOFF") ?></a></li>
    <?php } ?>
    <?php if (!$view->container->get('shoppingCart')->isEmpty() && !$isCheckout) { ?>
        <li><a href="<?php echo $view['router']->generate('shopping_cart'); ?>"><?php _vzm("SHOPPING CART") ?></a></li>
        <li><a href="<?php echo $view['router']->generate('checkout_shipping'); ?>"><?php _vzm("CHECKOUT") ?></a></li>
    <?php } ?>
    <?php foreach ($view->container->get('ezPageService')->getPagesForHeader(1) as $page) { ?>
        <li><?php echo $html->ezpageLink($page->getId()) ?></li>
    <?php } ?>
  </ul>
</div>
