<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb($ezPage->getTitle())); ?>
<?php $toc = $view->container->get('ezPageService')->getPagesForChapterId($view['request']->getParameter("chapter"), $view['request']->getLocaleId()); ?>
<?php if (1 < count($toc)) { ?>
    <div id="eztoc">
        <h4>{{ 'Table of Contents'|trans }}</h4>
        <ul>
        <?php foreach ($toc as $page) { $active = $page->getId() == $ezPage->getId() ? ' class="act"' : ''; ?>
            <li<?php echo $active ?>><a href="<?php echo $net->ezPage($page) ?>"><?php echo $view->escape($page->getTitle()) ?></a></li>
        <?php } ?>
        </ul>
        <?php
            // find pref next
            $prev = null;
            $next = null;
            $size = count($toc);
            for ($ii=0; $ii < $size; $ii++) {
                if ($toc[$ii]->getId() == $ezPage->getId()) {
                    // got the current page
                    if (0 == $ii) {
                        // first
                        $prev = $toc[$size-1];
                        if (1 < $size) $next = $toc[1];
                    } elseif ($size-1 == $ii) {
                        // last
                        if (0 < $ii) $prev = $toc[$ii-1];
                        $next = $toc[0];
                    } else {
                        $prev = $toc[$ii-1];
                        $next = $toc[$ii+1];
                    }
                    break;
                }
            }
        ?>
        <?php if (null != $prev && null != $next) { ?>
        <p>
            <a href="<?php echo $net->ezPage($prev) ?>">&lt; {{ 'Prev'|trans }}</a>
            <a href="<?php echo $net->ezPage($next) ?>">{{ 'Next'|trans }} &gt;</a>
        </p>
        <?php } ?>
    </div>
<?php } ?>
<h2><?php echo $view->escape($ezPage->getTitle()) ?></h2>
<?php echo $ezPage->getHTMLText() ?>
