<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<h3>{{ 'Page Not Found'|trans }}</h3>

<?php echo $utils->staticPageContent("page_not_found") ?>

<?php echo $this->render('StorefrontBundle::site_map.html.php'); ?>
