{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Password Recovery'))); ?>
<p>{{ 'Enter your E-Mail address below and we'll send you an e-mail message containing your new password.'|trans }}</p>
<?php echo $form->open('password_forgotten') ?>
  <fieldset>
    <legend>{{ 'Request new password'|trans }}</legend>
    <label for="email_address">{{ 'E-Mail Address'|trans }}</label>
    <input type="text" id="email_address" name="email_address" <?php echo $form->fieldLength('customers', 'customers_email_address') ?> />
  </fieldset>
  <div class="btn"><button type="submit" class="btn submit"><span>{{ 'Submit'|trans }}</span></button></div>
</form>
{% endblock %}
