<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    {{ include('@Storefront/head.html.twig') }}
    {% block stylesheets %}
        {% stylesheets
            'bundles/storefront/css/popup.css'
            filter='?cssmin, cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {# @todo move some bits to footer #}
    {% block javascripts %}
        {% javascripts
            '@StorefrontBundle/Resources/public/js/jquery.js'
            '@StorefrontBundle/Resources/public/js/jquery.form.js'
            '@StorefrontBundle/Resources/public/js/common.js'
            '@StorefrontBundle/Resources/public/js/validation.js'
            filter='?jsminplus'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts%}
    {% endblock %}
</head>

<body id="pb_{{ app.request.requestId }}">
    {% block body %}{% endblock %}
</body>
</html>
