<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCategoryPath()->addManufacturer()->addProduct($currentProduct->getId())->addCrumb(_zm('Review'))); ?>
<?php echo $form->addProduct($currentProduct->getId(), 1) ?>
  <div>
    <div id="pinfo">
      <?php $imageInfo = $currentProduct->getImageInfo() ?>
      <a href="<?php echo $net->product($currentProduct->getId()) ?>"><?php echo $html->productImageLink($currentProduct) ?></a>
      <?php echo $currentProduct->getDescription(); ?>
    </div>
    <strong><?php echo $utils->formatMoney($currentProduct->getPrice()); ?></strong>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Add to cart'|trans }}" /></div>

    <p id="author">
      {{ 'Review by: %author%'|trans({'%author%' : currentReview.author}) }}
      <?php $rtext = sprintf(_zm("%s of 5 stars!"), $currentReview->getRating()) ?>
      <span id="stars">
        <img src="<?php echo $view['assets']->getUrl('bundles/storefront/images/stars_'.$currentReview->getRating().'.gif') ?>" alt="<?php echo $rtext ?>" />
        <?php $rtext ?>
      </span>
    </p>
    <div id="rlongtext">
        <h3 class="rtitle"><?php echo $html->strip($currentReview->getTitle()) ?></h3>
        <?php echo $view->escape($currentReview->getText()) ?>
    </div>
  </div>
</form>
