<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php echo $form->addProduct($currentProduct->getId(), 1) ?>
  <div>
    <div id="pinfo">
      <?php echo $html->productImageLink($currentProduct) ?>
      <?php echo $currentProduct->getDescription(); ?>
    </div>
    <strong><?php echo $utils->formatMoney($currentProduct->getPrice()); ?></strong>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Add to cart'|trans }}" /></div>
    <br /><br /><br /><br />
    <?php echo $this->render('StorefrontBundle::reviews.html.php'); ?>
  </div>
</form>
