<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php if (null == $currentProduct) { ?>
    <h3><?php _vzm("Product not found") ?></h3>
<?php } else { ?>
    <h3><?php _vzm("'%s' is currently not on stock.", $currentProduct->getName()) ?></h3>
<?php } ?>
