{% extends '@Storefront/layout.html.twig' %}
{% block body %}
    {% if not currentProduct %}
        <h3>{{ 'Product not found'|trans }}</h3>
    {% else %}
        <h3>{{ '"%product%" is currently not in stock.'|trans({'%product%' : currentProduct.name}) }}</h3>
    {% endif %}
{% endblock %}
