{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php echo $form->addProduct($currentProduct->getId(), 1) ?>
  <div>
    <div id="pinfo">
      <?php echo $html->productImageLink($currentProduct) ?>
      <?php echo $currentProduct->getDescription(); ?>
    </div>
    <strong>{{ utils.formatMoney(currentProduct.price) }}</strong>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Add to cart'|trans }}" /></div>
    <br /><br /><br /><br />
    <?php echo $this->render('StorefrontBundle::reviews.html.php'); ?>
  </div>
</form>
{% endblock %}
