<p><strong>Checkout Success Sample Text...</strong></p>
<p>A few words about the approximate shipping time or your processing policy would be put here.</p>
<p>This section of text is from the <code>Static Page Editor</code> located under ZenMagick in the Admin.</p>
<p>To remove this text, delete it using the <code>Static Page Editor</code> rather than modifying the template.</p>
