<h3>Purchasing Gift Certificates</h3>

<p>Gift Certificates are purchased just like any other item in our store. You can pay for them using the stores standard payment method(s).</p>

<p>Once purchased the value of the Gift Certificate will be added to your own personal Gift Certificate Account. If you have funds in your Gift Certificate Account, you will notice that the amount now shows in the Shopping Cart box, and also provides a link to a page where you can send the Gift Certificate to some one via email.</p>
