<h3>Redeeming Gift Certificates</h3>

<p>If you receive a Gift Certificate by email it will contain details of who sent you the Gift Certificate,
along with possibly a short message from them. The email will also contain the Gift Certificate Redemption Code.
It is probably a good idea to print out this email for future reference. You can now redeem the Gift Certificate in two ways.</p>

<ol>
  <li><p>By clicking on the link contained within the email for this express purpose. This will take you to the store's
    Redeem Gift Certificate page. You will then be requested to create an account, before the Gift Certificate is validated
    and placed in your Gift Certificate Account ready for you to spend it on whatever you want.</p></li>
  <li><p>During the checkout process, on the same page that you select a payment method there will be a box to enter
    a Redemption Code. Enter the Redemption Code here, and click the Redeem button. The code will be validated and
    the amount added to your Gift Certificate Account. You can then use the amount to purchase any item from our store.</p></li>
</ol>
