body {background:#f0f0f0;}
h1 {margin:4px 0;}
h1, #close {text-align:center;}
img {margin:4px;}
div {margin-top:8px;}
p {text-align:left;}
span.example {font-weight:bold;background-color:#578bb8;color:#fff;padding:2px 3px;}
#pb_popup_search_help p {line-height:1.3em;}
