<?php
/*
 * ZenMagick - Extensions for zen-cart
 * Copyright (C) 2006-2010 zenmagick.org
 *
 * Portions Copyright (c) 2003 The zen-cart developers
 * Portions Copyright (c) 2003 osCommerce
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or (at
 * your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street - Fifth Floor, Boston, MA  02110-1301, USA.
 *
 * $Id: external_example.php 1966 2009-02-14 10:52:50Z dermanomann $
 */
?>
<?php 
/******************************************************************************
 *
 * In order to make this work for your local installation, 
 * please verify/change the following:
 *
 *   - the path to external.php in the top require(..) statement
 *
 *   - username and password for the account to be used (make sure the account
 *     has at least three orders in the order history, or change the code
 *     accordingly)
 *
 ******************************************************************************/

/** CHANGE TO VALID LOCATION **/
// include ZenMagick API
require("../zen-cart/zenmagick/external.php");

    // show messages
    function showMessages() {
        if (ZMMessages::instance()->hasMessages()) {
          echo '<ul id="messages">';
          foreach (ZMMessages::instance()->getMessages() as $message) {
              echo '<li class="'.$message->getType().'">'. $message->getText().'</li>';
          }
          echo '</ul>';
        }
    }

?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>External ZenMagick Access</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  </head>
  <body>

    <div>
      <h1>Access Categories and Products</h1>
      <?php $category = ZMCategories::instance()->getCategoryForId(9); ?>
      <h2><?php echo $category->getName() ?></h2>
      <ul>
        <?php foreach (ZMProducts::instance()->getProductsForCategoryId(9) as $product) { ?>
          <li><?php echo $product->getName() ?></li>
        <?php } ?>
      </ul>
    </div>

    <div>
      <h1>Login and query order history</h1>
      <?php 
        /** CHANGE TO VALID ACCOUNT **/
        ZMRequest::setParameterMap(array(
          'email_address' => 'some@domain.com', 
          'password' => 'xxxxxx'
          ));
        $email = "some@email.com";
        $pwd = "xxxxxx";

        // execute
        $controller = ZMLoader::make("LoginController");
        $view = $controller->processPost($request)();
        showMessages();

        echo "Login result: ".$view->getMappingId()."<br />";

        if ('account' == $view->getMappingId() || 'success' == $view->getMappingId()) {
            $account = ZMRequest::getAccount();
            echo "<h3>Account Name: " . $account->getFullName()."</h3>";
            
            // get order history using ZenMagick controller
            $controller = ZMLoader::make("AccountHistoryInfoController");
            ZMRequest::setParameterMap($_GET);
            $view = $controller->processGet($request)();
            $zm_order = $controller->getGlobal("zm_order");
            if ($zm_order) {
                echo "ZenMagick order date: " . ZMToolbox::instance()->locale->shortDate($zm_order->getOrderDate(), false);
            } else {
                echo "order #8 not found";
            }
        } else {
            echo '<h2>Could not login - did you edit this sample to provide valid login information?</h2>';
        }

        // clean cart if not empty
        $shoppingCart = ZMRequest::getShoppingCart();
        if (!$shoppingCart->isEmpty()) {
            echo "<h3>Cleaning up Shopping Cart ... </h3>";
            foreach ($shoppingCart->getItems() as $item) {
                echo "Removing ".$item->getProduct()->getName()."<BR>";
                $shoppingCart->updateProduct($item->getId(), 0);
            }
        }

        // add product_id=8, qty=2
        $shoppingCart->addProduct(8, 2);

        echo "<h3>Shopping Cart after add</h3>";
        foreach ($shoppingCart->getItems() as $item) {
          ?><?php echo $item->getQty(); ?> x <a href="<?php zm_product_href($item->getId()) ?>"><?php echo $item->getName(); ?></a><br /><?php
        }

     ?>
    </div>

  </body>
</html>
