##
## Apache httpd access control for ZenMagick themes
##
## $Id$
##

## Allow GET for all
#<LimitExcept GET>
#  order allow,deny
#  allow from all
#</LimitExcept>
<Limit GET>
order deny,allow
deny from all
allow from all
</Limit>
<Limit POST PUT DELETE>
order deny,allow
deny from all
</Limit>

