<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Contact Us'))); ?>

<h3><?php _vzm("Store Contact Details") ?></h3>
<p><address><?php echo nl2br($view['settings']->get('storeNameAddress')); ?></address></p>
<br/>

<?php echo $utils->staticPageContent("contact_us") ?>

<?php echo $form->open('contact_us', 'action=send', false, array('id' => 'contactUs')) ?>
    <fieldset>
        <legend><?php _vzm("Contact us") ?></legend>
        <label for="name"><?php _vzm("Full Name") ?><span>*</span></label>
        <input type="text" id="name" name="name" size="40" value="<?php echo $view->escape($contactUs->getName()) ?>" /><br />

        <label for="email"><?php _vzm("Email Address") ?><span>*</span></label>
        <input type="text" id="email" name="email" size="40" value="<?php echo $view->escape($contactUs->getEmail()) ?>" /><br />

        <label for="message"><?php _vzm("Message") ?><span>*</span></label>
        <textarea id="message" name="message" cols="30" rows="7"><?php echo $view->escape($contactUs->getMessage()) ?></textarea>
        <p class="legend"><?php _vzm("<span>*</span> Mandatory fields") ?></p>

        <?php if (is_object($recaptcha)) { ?>
            <p><?php $recaptcha->showCaptcha(); ?></p>
        <?php } ?>

        <?php if (is_object($recaptcha)) { ?>
            <?php $recaptcha->showCaptcha(); ?>
        <?php } ?>
    </fieldset>
    <div class="btn"><input type="submit" class="btn" value="<?php _vzm("Send") ?>" /></div>
</form>
