!!! 1.1
%html
  %head
    %title A product
    %meta{ :http-equiv => 'Content-Type', :content => 'application/xhtml+xml; charset=utf-8' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'tpl/main.css' }
  %body
    %p= $zm_product->getName()
    %p= $zm_product->getModel()
