{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php echo get_class($view->container->get('productService')) ?>
<?php echo $utils->staticPageContent("main_page") ?>
<?php $featured = $view->container->get('productService')->getFeaturedProducts(null, 4, false, $view['request']->getLocaleId()); ?>
<h3>Featured Products</h3>
<div id="featured">
  <?php foreach ($featured as $product) { ?>
    <div><table class="tbl" width="100%" height="125">
      <tr><td><?php echo $html->productImageLink($product) ?></td></tr></table><table>
      <tr height="38" wid><td width="100%" valign="top"><font class="product"><a href="<?php echo $net->product($product->getId()) ?>"><?php echo $html->more($html->strip($product->getName()), 40) ?></a></font></td></tr>
      <?php $offers = $product->getOffers(); ?>
      <tr>
        <td width="50%"><font class="price"><?php echo $utils->formatMoney($offers->getCalculatedPrice()) ?></font></td>
        <td width="50%" align="right"><a href="<?php echo $net->product($product->getId()) ?>">Link</a></td>
      </tr>
    </table></div>
  <?php } ?>
</div>
{% endblock %}
