<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php
use ZenMagick\StoreBundle\Services\Products;
?>

<?php $view['slots']->set('crumbtrail', $crumbtrail->addCategoryPath()->addManufacturer()->addProduct($currentProduct->getId())); ?>
<?php echo get_class($view->container->get('productService')) ?>
<?php $manufacturer = $currentProduct->getManufacturer() ?>
<h2><?php echo $view->escape(null != $manufacturer ? $manufacturer->getName() : '') ?> <?php echo $view->escape($currentProduct->getName()) ?></h2>

<?php echo $form->addProduct($currentProduct->getId()) ?>
  <?php $imageInfo = $currentProduct->getImageInfo() ?>
  <div>
      <?php if ($imageInfo->hasLargeImage()) { ?>
          <a href="<?php echo $imageInfo->getLargeImage()) ?>" rel="lightbox[gallery]" title="lightbox[gallery]"><?php echo $html->image($imageInfo, Products::IMAGE_MEDIUM) ?></a><br>
          |<a href="<?php echo $imageInfo->getLargeImage() ?>" rel="lightbox[gallery]">Click to enlarge (lightbox[gallery]) - FTW!</a>|<br>
          |
      <?php } else { ?>
          <?php echo $html->image($imageInfo, Products::IMAGE_MEDIUM) ?>
      <?php } ?>
      <div id="desc"><?php echo $currentProduct->getDescription() ?></div>
      <?php if (null != $manufacturer) { ?>
        <?php _vzm("Producer") ?>: <?php echo $view->escape($manufacturer->getName()); ?><br />
      <?php } ?>
        <?php _vzm("Avilable") ?>: <?php echo $view['date']->short($currentProduct->getDateAvailable()) ?><br />
      <p id="price"><?php echo $view->escape($currentProduct->getModel()) ?>: <?php echo $macro->productPrice($currentProduct) ?></p>
  </div>

  <?php
      // Name of the attribute to allow multi qty on the product page
      define('MULTI_QUANTITY_NAME', 'Memory');

      $isMultiQty = false;
      $attributes = $currentProduct->getAttributes();
      foreach ($attributes as $attribute) {
          if (MULTI_QUANTITY_NAME == $attribute->getName()) {
              $isMultiQty = true;
              // this is required for the server code to know which attribute to use
              echo '<input type="hidden" name="'.MULTI_QUANTITY_ID.'" value="'.$attribute->getId().'">';

              // qty input fields for each attribute value
              foreach ($attribute->getValues() as $value) {
                  echo $value->getName() . ': ';
                  echo '<input type="text" name="id['.$attribute->getId().']['.$value->getId().']">';
              }
          }
      }

  ?>

  <?php $attributes = $macro->productAttributes($currentProduct); ?>
  <?php foreach ($attributes as $attribute) { /* ADDED: */ if (MULTI_QUANTITY_NAME == $attribute['name']) { continue; } ?>
      <fieldset>
          <legend><?php echo $view->escape($attribute['name']) ?></legend>
          <?php foreach ($attribute['html'] as $option) { ?>
            <p><?php echo $option ?></p>
          <?php } ?>
      </fieldset>
  <?php } ?>

  <fieldset>
      <legend><?php _vzm("Shopping Options") ?></legend>
      <?php $minMsg = ""; if (1 < $currentProduct->getMinOrderQty()) { $minMsg = sprintf(_zm(" (Order minimum: %s)"), $currentProduct->getMinOrderQty()); } ?>
      <?php if (!$isMultiQty) { ?>
          <label for="cart_quantity"><?php _vzm("Quantity") ?><?php echo $minMsg; ?></label>
          <input type="text" id="cart_quantity" name="cart_quantity" value="1" maxlength="6" size="4" />
      <?php } ?>
      <input type="submit" class="btn" value="<?php _vzm("Add to cart") ?>" />
  </fieldset>

  <?php $addImgList = $currentProduct->getAdditionalImages(); ?>
  <?php if (0 < count($addImgList)) { ?>
      <fieldset>
          <legend><?php _vzm("Additional Images") ?></legend>
          <?php foreach ($addImgList as $addImg) { ?>
              <?php if ($addImg->hasLargeImage()) { ?>
                  <a href="<?php echo $addImg->getLargeImage() ?>" rel="lightbox[gallery]"><img src="<?php echo $addImg->getDefaultImage() ?>" alt="" title="" /></a>
              <?php } else { ?>
                  <img src="<?php echo $addImg->getDefaultImage() ?>" alt="" title="" />
              <?php } ?>
          <?php } ?>
      </fieldset>
  <?php } ?>
  <?php if ($currentProduct->hasReviews() || $currentProduct->getTypeSetting('reviews')) { ?>
      <fieldset>
          <legend><?php _vzm("Other Options") ?></legend>
          <?php if ($currentProduct->hasReviews()) { ?>
              <a class="btn" href="<?php echo $view['router']->generate('product_reviews', array('productId' => $currentProduct->getId())) ?>"><?php _vzm("Read Reviews") ?></a>
          <?php } ?>
          <?php if ($currentProduct->getTypeSetting('reviews')) { ?>
              <a class="btn" href="<?php echo $view['router']->generate('product_reviews_write', array('productId' => $currentProduct->getId())) ?>"><?php _vzm("Write a Review") ?></a>
          <?php } ?>
      </fieldset>
  <?php } ?>
</form>

<?php ?>
<?php if ($this->exists('lift-suggestions.php')) { ?>
  <?php echo $this->render('StorefrontBundle::lift-suggestions.html.php') ?>
<?php } ?>
