<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<h2><?php _vzm("Find our <em>TEST</em> store using Google Maps!") ?></h2>
<div id="locator_map" style="width:400px;height:400px;border:1px solid #ccc;"><?php _vzm("Loading map...") ?></div>
<div id="stores">
</div>
