{% set banner = templateManager.fetchBlockGroup('banners.box2') %}
{% if banner is not empty %}
    <h3>{{ 'Have you seen ...'|trans }}</h3>
    <div id="sb_banner_box2" class="box">
        {{ banner|raw }}
    </div>
{% endif %}
