<?php if (null != ($banner = $this->fetchBlockGroup('banners.box1')) && !empty($banner)) { ?>
    <h3>{{ 'Sponsors'|trans }}</h3>
    <div id="sb_banner_box" class="box">
        <?php echo $banner; ?>
    </div>
<?php } ?>
