<?php if (null != ($banner = $this->fetchBlockGroup('banners.box2')) && !empty($banner)) { ?>
    <h3>{{ 'Have you seen ...'|trans }}</h3>
    <div id="sb_banner_box2" class="box">
        <?php echo $banner; ?>
    </div>
<?php } ?>
