<?php $products = $view->container->get('productService')->getBestSellers($view['request']->getParameter('categoryId'), null, $view['request']->getLocaleId()); ?>
<?php if (0 < count($products)) { ?>
    <h3><?php _vzm("Best Sellers") ?></h3>
    <div id="sb_bestsellers" class="box">
        <ol>
        <?php foreach ($products as $product) { ?>
            <li><a href="<?php echo $net->product($product->getId()) ?>"><?php echo $view->escape($html->more($product->getName(), 28)) ?></a></li>
        <?php } ?>
        </ol>
    </div>
<?php } ?>
