<?php $tree = $view->container->get('categoryService')->getCategoryTree($view['request']->getLocaleId()); ?>
<h3><?php _vzm("Categories") ?></h3>
<div id="sb_categories" class="box">
    <?php echo $macro->categoryTree($tree, $view['settings']->get('isShowCategoryCount', false), $view['settings']->get('isUseCategoryPage', false)) ?>
</div>
