<?php $currencyList = $view->container->get('currencyService')->getCurrencies(); ?>
<?php if (0 < count($currencyList) && 0 !== strpos($view['request']->getRouteId(), 'checkout')) { ?>
    <h3>{{ 'Currencies'|trans }}</h3>
    <div id="sb_currencies" class="box">
        <?php echo $form->open('set_currency', '', $app->getRequest()->isSecure(), array('method'=>'get')) ?>
            <div>
                <?php echo $form->idpSelect('currency', $currencyList, $view['session']->get('currency'), array('onchange'=>'this.form.submit()', 'oValue'=>'getCode')) ?>
                <noscript>
                    <div><input type="submit" class="btn" value="{{ 'Go'|trans }}" /></div>
                </noscript>
            </div>
        </form>
    </div>
<?php } ?>
