{% set sbchapter = sbchapter is defined ? sbchapter : app.request.query.get('spchapter') %}
{% if sbchapter is not null %}
    {% set pages = ezpage_manager.pagesForChapterId(sbchapter, app.session.get('languages_id')) %}
{% else %}
    {% set pages = ezpage_manager.pagesForSidebar(app.session.get('languages_id')) %}
{% endif %}
{% if 0 < pages|length %}
    <h3>{{ 'Important Links'|trans }}</h3>
    <div id="sb_ezpages" class="box">
        {% for page in pages %}
            {{ html.ezpageLink(page.id)|raw }}
        {% endfor %}
    </div>
{% endif %}
