<?php $sbchapter = isset($sbchapter) ? $sbchapter : $view['request']->getParameter('sbchapter'); ?>
<?php $pages = null != $sbchapter ? $view->container->get('ezPageService')->getPagesForChapterId($sbchapter, $view['request']->getLocaleId()) : $view->container->get('ezPageService')->getPagesForSidebar($view['request']->getLocaleId()); ?>
<?php if (0 < count($pages)) { ?>
    <h3>{{ 'Important Links'|trans }}</h3>
    <div id="sb_ezpages" class="box">
        <?php foreach ($pages as $page) { ?>
            <?php echo $html->ezpageLink($page->getId())?>
        <?php } ?>
    </div>
<?php } ?>
