<?php $products = $view->container->get('productService')->getFeaturedProducts($view['request']->getParameter('categoryId'), 1, false, $view['request']->getLocaleId()); ?>
<?php if (1 == count($products)) {
    $product = $products[0];
    ?>
    <h3><a href="<?php echo $view['router']->generate('featured_products') ?>">{{ '[More]'|trans }}</a>{{ 'Featured'|trans }}</h3>
    <div id="sb_featured" class="box">
        <p><?php echo $html->productImageLink($product) ?></p>
        <p><a href="<?php echo $net->product($product->getId()) ?>"><?php echo $view->escape($product->getName()) ?></a></p>
        <?php $offers = $product->getOffers(); ?>
        <p class="price"><?php echo $utils->formatMoney($offers->getCalculatedPrice()) ?></p>
    </div>
<?php } ?>
