<?php use ZenMagick\Base\Toolbox; ?>

<?php if (isset($currentProduct)) { ?>
        <?php $manufacturer = $currentProduct->getManufacturer(); ?>
        <?php if (null != $manufacturer) { ?>
            <h3>{{ 'Manufacturer Info'|trans }}</h3>
            <div id="sb_manufacturer_info" class="box">
                <?php
                if ($manufacturer->hasImage()) {
                    $url = path('manufacturer', {'manufacturers_id' : manufacturer.id})
                    $class = '';
                    if (!Toolbox::isEmpty($manufacturer->getUrl())) {
                        $url = $net->trackLink('manufacturer', $manufacturer->getId());
                        $class = ' class="new-win" ';
                    }
                    ?><a href="<?php echo $url ?>"<?php echo $class ?>><?php echo $html->image($manufacturer->getImageInfo()) ?></a><?php
                    if (!Toolbox::isEmpty($manufacturer->getUrl())) {
                        $url = path('manufacturer', {'manufacturers_id' : $manufacturer.id})
                        ?><a href="<?php echo $url ?>"<?php echo $target ?>>{{ 'Other Products'|trans }}</a><?php
                    }
                } else {
                    $url = path('manufacturer', {'manufacturers_id' : manufacturer.id})
                    $class = '';
                    $text = _zm("Other Products");
                    if (!Toolbox::isEmpty($manufacturer->getUrl())) {
                        $url = $net->trackLink('manufacturer', $manufacturer->getId());
                        $class = ' class="new-win" ';
                        $text = _zm("Manufacturer Homepage");
                    }
                    ?><a href="<?php echo $url ?>"<?php echo $class ?>><?php echo $text ?></a><?php
                    if (!Toolbox::isEmpty($manufacturer->getUrl())) {
                        $url = path('manufacturer', {'manufacturers_id' : $manufacturer.id})
                        ?><a href="<?php echo $url ?>"<?php echo $target ?>>{{ 'Other Products'|trans }}</a><?php
                    }
                } ?>
            </div>
        <?php } ?>
<?php } ?>
