{% set manufacturers = manufacturer_manager.manufacturers(app.session.get('languages_id')) %}
{% if 0 < manufacturers|length %}
    <h3>{{ 'Manufacturers'|trans }}</h3>
    <div id="sb_manufacturers" class="box">
        {{ form.open('manufacturer', '', app.request.isSecure, {'method' : 'get', 'onsubmit' : null})|raw }}
            <div>
                {% set manufacturer_select = [bean('ZMIdNamePair#id=&name=' ~ 'Please Select'|trans)] %}
                {{ form.idpSelect('manufacturers_id', manufacturer_select|merge(manufacturers), app.request.query.get('manufacturers_id'), {'size' : 1, 'onchange' : 'this.form.submit()'})|raw }}
                <noscript>
                    <div><input type="submit" class="btn" value="{{ 'Go'|trans }}" /></div>
                </noscript>
            </div>
        </form>
    </div>
{% endif %}
