<?php use ZenMagick\Base\Toolbox; ?>

<?php if (isset($currentProduct)) { ?>
        <?php $manufacturer = $currentProduct->getManufacturer(); ?>
        <?php if (null != $manufacturer) { ?>
            <h3><?php _vzm("Manufacturer Info") ?></h3>
            <div id="sb_manufacturer_info" class="box">
                <?php
                if ($manufacturer->hasImage()) {
                    $url = $view['router']->generate('manufacturer', array('manufacturers_id' => $manufacturer->getId()));
                    $class = '';
                    if (!Toolbox::isEmpty($manufacturer->getUrl())) {
                        $url = $net->trackLink('manufacturer', $manufacturer->getId());
                        $class = ' class="new-win" ';
                    }
                    ?><a href="<?php echo $url ?>"<?php echo $class ?>><?php echo $html->image($manufacturer->getImageInfo()) ?></a><?php
                    if (!Toolbox::isEmpty($manufacturer->getUrl())) {
                        $url = $view['router']->generate('manufacturer', array('manufacturers_id' => $manufacturer->getId()));
                        ?><a href="<?php echo $url ?>"<?php echo $target ?>><?php _vzm("Other Products") ?></a><?php
                    }
                } else {
                    $url = $view['router']->generate('manufacturer', array('manufacturers_id' => $manufacturer->getId()));
                    $class = '';
                    $text = _zm("Other Products");
                    if (!Toolbox::isEmpty($manufacturer->getUrl())) {
                        $url = $net->trackLink('manufacturer', $manufacturer->getId());
                        $class = ' class="new-win" ';
                        $text = _zm("Manufacturer Homepage");
                    }
                    ?><a href="<?php echo $url ?>"<?php echo $class ?>><?php echo $text ?></a><?php
                    if (!Toolbox::isEmpty($manufacturer->getUrl())) {
                        $url = $view['router']->generate('manufacturer', array('manufacturers_id' => $manufacturer->getId()));
                        ?><a href="<?php echo $url ?>"<?php echo $target ?>><?php _vzm("Other Products") ?></a><?php
                    }
                } ?>
            </div>
        <?php } ?>
<?php } ?>
