<?php if (isset($currentProduct)) { ?>
     <?php
      $isSubscribed = false;
      if ($view['security']->isGranted('ROLE_REGISTERED')) {
          $account = $app->getUser();
          if (null != $account) {
              $subscribedProducts = $account->getSubscribedProducts();
              $isSubscribed = in_array($currentProduct->getId(), $subscribedProducts);
          }
      }
    ?>
    <?php if (!$app->getUser() || !$isSubscribed) { ?>
        <h3><?php _vzm("Notifications") ?></h3>
        <div id="sb_product_notifications" class="box">
            <?php echo $form->open('account_notifications', '', true, array('onsubmit'=>null)) ?>
            <input type="hidden" name="notify_type" value="add" />
            <input type="hidden" name="notify[]" value="<?php echo $currentProduct->getId() ?>" />
            <input type="image" src="<?php echo $view['assets']->getUrl('bundles/storefront/images/big_tick.gif') ?>" alt="<?php _vzm("Notify me of updates to this product") ?>" title="<?php _vzm("Notify me of updates to this product") ?>" />
            <br />
            <?php _vzm("Notify me of updates to <strong>%s</strong>", $currentProduct->getName())?>
            </form>
        </div>
    <?php } elseif ($isSubscribed) { ?>
        <h3><?php _vzm("Notifications") ?></h3>
        <div id="sb_product_notifications" class="box">
            <?php echo $form->open('account_notifications', '', true, array('onsubmit'=>null)) ?>
            <input type="hidden" name="notify_type" value="remove" />
            <input type="hidden" name="notify[]" value="<?php echo $currentProduct->getId() ?>" />
            <input type="image" src="<?php echo $view['assets']->getUrl('bundles/storefront/images/big_remove.gif') ?>" alt="<?php _vzm("Do not notify me of updates to this product") ?>" title="<?php _vzm("Do not notify me of updates to this product") ?>" />
            <br />
            <?php _vzm("Do not notify me of updates to <strong>%s</strong>", $currentProduct->getName())?>
            </form>
        </div>
    <?php } ?>
<?php } ?>
