<?php

    // get review for product (if on product page)
    $filterArg = isset($currentProduct) ? $currentProduct->getId() : null;
    $reviews = $view->container->get('reviewService')->getRandomReviews($view['request']->getLocaleId(), $filterArg, 1);
?>
<?php if (1 == count($reviews)) {
    $review = $reviews[0];
    $href = path('product_reviews_info', {'productId' : review.productId, 'reviews_id' : review.id})
    $rtext = sprintf(_zm("%s of 5 stars!"), $review->getRating());
    $rimg = '<img src="'.$view['assets']->getUrl('bundles/storefront/images/stars_'.$review->getRating().'.gif').'" alt="'.$rtext.'" title="'.$rtext.'"/>';
    ?>
    <h3><a href="{{ path('reviews') }}">{{ '[More]'|trans }}</a>{{ 'Reviews'|trans }}</h3>
    <div id="sb_reviews" class="box">
        <p><a href="<?php echo $net->product($review->getProductId()) ?>"><?php echo $html->image($review->getProductImageInfo()) ?></a></p>
        <p id="rtext"><a href="<?php echo $href ?>"><?php echo $html->more($review->getText(), 60) ?></a></p>
        <p><a href="<?php echo $href ?>"><?php echo $rimg ?></a></p>
    </div>
<?php } ?>
