<?php
  $feedUrl = 'http://www.radebatz.net/mano/feed/';
  $category = 'ZenMagick'; // set to null for all
?>
<?php $rssFeed = $view->container->get('rssLoader')->getFeed($feedUrl, $category); if ($rssFeed->hasContents()) { $channel = $rssFeed->getChannel(); ?>
    <h3><a href="<?php echo $channel->getLink() ?>"<?php echo $html->hrefTarget() ?>><?php _vzm("[More]") ?></a><?php echo $view->escape($channel->getTitle()) ?></h3>
    <div id="sb_rss" class="box">
        <dl>
            <?php foreach ($rssFeed->getItems() as $item) { ?>
                <dt><?php echo $view['date']->short($item->getPubDate()) ?></dt>
                <dd><a href="<?php echo $item->getLink() ?>" class="new-win"><?php echo $view->escape($item->getTitle()); ?></a></dd>
            <?php } ?>
        </dl>
    </div>
<?php } ?>
