<?php if (!$view->container->get('shoppingCart')->isEmpty() && !$isCheckout) { ?>
    <h3>{{ 'Shopping Cart'|trans }}</h3>
    <div id="sb_cart" class="box">
        <?php foreach ($view->container->get('shoppingCart')->getItems() as $item) { ?>
            <?php echo $item->getQuantity(); ?> x <a href="<?php echo $net->product($item->getId()) ?>"><?php echo $view->escape($item->getProduct()->getName()) ?></a><br />
        <?php } ?>
        <hr/>
        <p class="price"><?php echo $utils->formatMoney($view->container->get('shoppingCart')->getSubtotal()) ?></p>
    </div>
<?php } ?>
