##
## Shared ZenMagick services
##


parameters:
  kernel.environment: '<?php echo ZM_ENVIRONMENT ?>'
  kernel.root_dir: %zenmagick.cacheBaseDir%/kernel
  kernel.cache_dir: %zenmagick.cacheBaseDir%
  kernel.debug: false
  kernel.bundles: %zenmagick.bundles%
  zenmagick.installationPath: '<?php echo dirname(zenmagick\base\Runtime::getInstallationPath()) ?>'
  zenmagick.cacheIds: ['transientCache', 'persistentCache', 'servicesCache', 'templateCache']
  zenmagick.cacheBaseDir: '<?php echo dirname(zenmagick\base\Runtime::getInstallationPath())."/cache/zenmagick" ?>'


# database configuration settings
doctrine:
  dbal:
    connections:
      default:
        driver: %apps.store.database.default.driver%
        dbname: %apps.store.database.default.dbname%
        host: %apps.store.database.default.host%
        port: %apps.store.database.default.port%
        user: %apps.store.database.default.user%
        password: %apps.store.database.default.password%
        charset: %apps.store.database.default.charset%
        #collation: %apps.store.database.default.collation%
        unix_socket: %apps.store.database.default.unix_socket%
        logging: true # required for pageStats plugin
        mapping_types:
          blob: blob
          boolean: boolean # required for ZMDbTableMapper
          enum: string
          mediumblob: mediumblob
    types:
      blob: zenmagick\base\database\doctrine\types\Blob
      mediumblob: zenmagick\base\database\doctrine\types\MediumBlob
  orm:
    auto_generate_proxy_classes: true
    proxy_namespace: zenmagick\base\database\doctrine\proxies
    proxy_dir: %zenmagick.cacheBaseDir%/doctrine/orm/proxies
    entity_managers:
      default:
        mappings:
          zenmagick:
            is_bundle: false
            type: annotation
            # @todo will eventually be the namespace apps\store\entities
            prefix: ZM
            dir: %zenmagick.installationPath%/zenmagick/shared/model


# regular services and prototypes
services:
  ## generic caches
  transientCache:
    class: zenmagick\base\cache\MemoryCache
    scope: prototype
    calls:
      - [init, ['global', {}]]
  persistentCache:
    class: zenmagick\base\cache\FileCache
    scope: prototype
    calls:
      - [init, ['global', {cacheTTL: 300, cacheDir: '%zenmagick.cacheBaseDir%/files/'}]]

  ## explicit caches
  servicesCache:
    class: zenmagick\base\cache\MemoryCache
    scope: container
    calls:
      - [init, ['services', {}]]
  templateCache:
    class: zenmagick\base\cache\FileCache
    scope: container
    calls:
      - [init, ['services', {cacheTTL: 300, cacheDir: '%zenmagick.cacheBaseDir%/templates/'}]]

  accountService:
    class: ZMAccounts
    scope: container

  addressService:
    class: ZMAddresses
    scope: container

  countryService:
    class: ZMCountries
    scope: container

  orderService:
    class: ZMOrders
    scope: container

  ZMThemes:
    class: ZMThemes
    scope: container
    calls:
      - [setCache, [@servicesCache]]
  themeService: @ZMThemes

  ZMManufacturers:
    class: ZMManufacturers
    scope: container
    calls:
      - [setCache, [@servicesCache]]
  manufacturerService: @ZMManufacturers

  ZMProducts:
    class: ZMProducts
    scope: container
    calls:
      - [setCache, [@servicesCache]]
  productService: @ZMProducts

  ZMCategories:
    class: ZMCategories
    scope: container
    calls:
      - [setCache, [@servicesCache]]
  categoryService: @ZMCategories

  ZMViewUtils:
    class: ZMViewUtils
    scope: prototype

  ZMSavant:
    class: ZMSavant
    scope: prototype

  ZMSimpleSavantCache:
    class: ZMSimpleSavantCache
    scope: container
    calls:
      - [setCache, [@templateCache]]

  rssLoader:
    class: zenmagick\http\rss\RssFeedLoader
    scope: container
    calls:
      - [init, [{cacheTTL: 300, cacheDir: '%zenmagick.cacheBaseDir%/rss/'}]]

  authenticationManager:
    class: ZMAuthenticationManager
    scope: container

  sacsManager:
    class: zenmagick\http\sacs\SacsManager
    scope: container
   
  blockService:
    class: ZMBlocks
    scope: container

  blockManager:
    class: ZMBlockManager
    scope: container

  productAssociations:
    class: ZMProductAssociations
    scope: container

  shoppingCart:
    class: ZMShoppingCart
    scope: container

  shoppingCartService:
    class: ZMShoppingCarts
    scope: container

  validator:
    class: ZMValidator
    scope: container

  reviewService:
    class: ZMReviews
    scope: container

  taxRateService:
    class: ZMTaxRates
    scope: container

  tokenService:
    class: ZMTokens
    scope: container

  bannerService:
    class: ZMBanners
    scope: container

  couponService:
    class: ZMCoupons
    scope: container

  ezPageService:
    class: ZMEZPages
    scope: container

  localeService:
    class: ZMLocales
    scope: container

  templateManager:
    class: ZMTemplateManager
    scope: container

  currencyService:
    class: ZMCurrencies
    scope: container

  languageService:
    class: ZMLanguages
    scope: container

  paymentTypeService:
    class: ZMPaymentTypes
    scope: container

  shippingProviderService:
    class: ZMShippingProviders
    scope: container

  salemakerService:
    class: ZMSalemaker
    scope: container

  attributeService:
    class: ZMAttributes
    scope: container

  groupPricingService:
    class: ZMGroupPricing
    scope: container

  configService:
    class: ZMConfig
    scope: container

  messageBuilder:
    class: zenmagick\http\utils\MessageBuilder
    scope: prototype

  userSession:
    class: zenmagick\http\utils\UserSession
    scope: container

  contextConfigLoader:
    class: apps\store\utils\ContextConfigLoader
    scope: prototype

  dbTableMapper:
    class: ZMDbTableMapper
    scope: container

  tagService:
    class: ZMTags
    scope: container

  productGroupPricingService:
    class: ZMProductGroupPricings
    scope: container

  urlManager:
    class: ZMUrlManager
    scope: container

  annotation_reader:
    class: Doctrine\Common\Annotations\AnnotationReader
    scope: container

#  table_prefix:
#      class: zenmagick\base\database\doctrine\TablePrefix
#      scope: container
#      arguments: [%apps.store.database.default.prefix%]
#      tags:
#        - { name: doctrine.event_listener, event: loadClassMetadata }


