<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<?php echo $language->getCode() ?>">
<head>
<title><?php _vzm("*** TEST *** New Password Request - %s", $view['settings']->get('storeName')) ?></title>
</head>
<body>
<body>
<div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
<p><?php _vzm("*** TEST *** New Password Request") ?></p>
<p><?php _vzm("This is in response to a request for a new password for your account at %s.", $view['settings']->get('storeName')) ?></p>
<p><?php _vzm("Your new password is: %s", $password) ?></p>
<p><?php _vzm("For security reasons please remember to change your password next time you logon.") ?></p>
<p><?php _vzm("Regards, %s", $view['settings']->get('storeName')) ?></p>

<?php echo $utils->staticPageContent('email_advisory') ?>
</div>
</body>
</html>
