#hoverbox {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 150px;
	width: 150px;
	margin: -75px 0 0 -75px;
	padding: 0;
}

.hb_Container {
	position: relative;
	width: 100%;
	height: 100%;
	background: none;
	padding: 0;
	margin: 0;
}

.hb_Button {
	cursor: pointer;
	text-decoration: none;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

.hb_Sides {
	position: absolute;
	top: 50%;
	left: 0;
	clear: both;
	width: 100%;
	padding: 0;
	margin: 0;
}
.hb_Sides * { padding: 0; margin: 0; }
.hb_Sides li {
	list-style-type: none;
	position: relative;
	overflow: hidden;
}

.hb_PrevSide { float: left; }
.hb_NextSide { float: right; }
.hb_Sides .hb_Wrapper {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.hb_Sides .hb_Button {
	float: left;
	background: none;
}

.hb_Frames {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
}
.hb_Frames li { list-style-type: none; }
.hb_Frame {
	width: 100%;
	display: block;
}
.hb_Frame * { padding: 0; margin: 0; }
.hb_FrameTop {
	position: absolute;
	left: 0;
	width: 100%;
	display: block;
}
.hb_FrameBottom {
	position: relative;
	float: left;
	clear: both;
}

.hb_Liquid {
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
	clear: both;
}
.hb_Liquid .hb_Filler {
	position: absolute;
	height: 100%;
	width: 2px;
	top: 0;
	left: 50%;
}

.hb_Half {
	display: block;
	height: 100%;
	clear: both;
	line-height: 0px;
}
.hb_Half li { list-style-type: none; }
.hb_Corner {
	float: left;
	position: relative;
}
.hb_CornerTr, .hb_CornerBr { float: right; }

.hb_Fill {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.hb_Half .hb_CornerWrapper {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.hb_HalfRight .hb_CornerWrapper { float: right; }

.hb_Corner { position: relative; }
.hb_Corner canvas { position: relative; }
.hb_HalfLeft .hb_Corner { float: left; }
.hb_HalfRight .hb_Corner {
	position: relative;
	float: right;
}

.hb_Center {
	position: relative;
	clear: both;
	height: 100%;
	overflow: hidden;
	background: none;
	padding: 0;
	margin: 0;
}
.hb_WrapUp {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.hb_WrapDown {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.hb_WrapCenter {
	position: relative;
	padding: 0;
	margin: 0;
}

.hb_Loading {
	position: absolute;
	top: 50%;
	left: 50%;
}
.hb_Loading .hb_Button {
	float: left;
	height: 100%;
	width: 100%;
}

.hb_MediaWrapper {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
	clear: both;
	padding: 0;
	margin: 0;
}
.hb_MediaWrapper img {
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
}

.hb_PrevNext { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 0; margin: 0; }
.hb_PrevNext * { padding: 0; margin: 0; }
.hb_PrevNext .hb_Button { position: relative; height: 100%;}
.hb_PrevButton { float: left; }
.hb_NextButton { float: right; }

.hb_MenuBar {
	clear: both;
	position: relative;
	width: 100%;
	float: left;
	font: 11px Arial, Helvetica, sans-serif;
	color: #808080;
	padding: 0;
	margin: 0;
}
.hb_MenuBar * { padding: 0; margin: 0; }

.hb_MenuTop .hb_DataText div,
.hb_MenuTop .hb_ImgNumber div { margin: 0; padding: 0; }
#hoverbox .hb_MenuTop .hb_Close, 
#hoverbox .hb_MenuTop .hb_Data { margin: 0 0 6px 0; }

.hb_Close, .hb_Data { margin: 6px 0 0 0; }
.hb_Close { float: right; overflow: hidden; }
.hb_Close .hb_Button { float: right; width: 100%; height: 100%; }

.hb_Data {
	position: relative;
	float: left;
	padding-bottom: 3px;
	line-height: 13px;
}
.hb_Data li { list-style-type: none; }

.hb_DataText div, .hb_ImgNumber div { margin-left: 3px; }

.hb_Data li {
	list-style-type: none;
	float: left;
	margin-top: 3px;
}
.hb_DataText { width: 100%; }
.hb_Title {
	font-weight: bold;
	margin-bottom: 2px;
}
.hb_Caption { clear: both; }
.hb_ImgNumber {
	color: #b8b8b8;
	margin-right: 5px;
	margin-top: 5px;
}
.hb_Slideshow {
	border-left: 1px solid #efefef;
	padding-left: 5px;
	margin-top: 5px;
	vertical-align: middle;
}
.hb_Slideshow .hb_Button { /* play and stop */
	float: left;
	background-position: center left;
	background-repeat: no-repeat;
}

.hb_Media,
.hb_External {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#hoverbox iframe {
	border: 0;
	clear: both;
	padding: 0;
	margin: 0;
	background: none;
}

.hb_topButtons {
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.hb_topcloseButtonImage { cursor: pointer; }

#hoverboxError p { padding: 0 0 10px 0; }
#hoverboxError div {
	padding: 6px;
	font: 11px Arial, Helvetica, sans-serif;
}
#hoverboxError .message {
	background: #fcb5b5;
	color: #dd1f1f;
	margin-bottom: 3px;
}
#hoverboxError .type { font-weight: bold; }
#hoverboxError .pluginspage {
	background: #b5fcbd;
	color: #21be30;
}
#hoverboxError a,
#hoverboxError a:hover,
#hoverboxError a:visited {
	color: #21be30;
	text-decoration: none;
	background: none;
	font-weight: bold;
	border-bottom: 1px solid #7de689;
}
#hoverboxError p {
	margin-left: 0;
	padding: 0;
}

#overlay {
  position: absolute; /* Opera will use fixed */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


* html #hoverbox { /* IE6 */
	position: absolute;
	margin-top: expression( -1 * this.offsetHeight / 2 + (document.documentElement ? document.documentElement.scrollTop : 0) + 'px');
	margin-left: expression( -1 * this.offsetWidth / 2 + (document.documentElement ? document.documentElement.scrollLeft : 0) + 'px');
}

/* Always cover 100% of the screen in IE6 */
* html #overlay {
	position: absolute;
	height: expression((document.body.scrollHeight > document.documentElement.scrollHeight ? document.body.scrollHeight : document.documentElement.scrollHeight) > document.body.offsetHeight ? (document.body.scrollHeight > document.documentElement.scrollHeight ? document.body.scrollHeight : document.documentElement.scrollHeight) : document.body.offsetHeight + 'px');
	width: expression((document.body.scrollWidth > document.documentElement.scrollWidth ? document.body.scrollWidth : document.documentElement.scrollWidth) > document.body.offsetWidth ? (document.body.scrollWidth > document.documentElement.scrollWidth ? document.body.scrollWidth : document.documentElement.scrollWidth) : document.body.offsetWidth + 'px');
}