#
# admin default settings
#

## general settings
zenmagick:
  http:
    view:
      defaultLayout: layout.html.twig
    templates:
      ext: .html.twig
  mvc:
    ## request
    request:
      index: index.html.twig
      missingPage: error.html.twig

## app settings
apps:
  store:
    admin:
      menus: #todo use placeholders for paths
        - 'src/ZenMagick/AdminBundle/config/menu.yaml'
        - 'src/ZenMagick/ZenCartBundle/Resources/config/admin/menu.yaml'
    dashboad:
      default: '{"layout":"col2r","widgets":[["ref::storeStatusDashboardWidget", "ref::latestOrdersDashboardWidget"], ["ref::orderStatsDashboardWidget","ref::latestAccountsDashboardWidget"]]}'

