label: Home
route: admin_index
name: home
children:
    dashboard:
        route: dashboard
        label: Dashboard
    catalog:
        route: catalog
        label: Catalog
    fulfilment:
        route: fulfilment
        label: Fulfilment
        children:
            fulfilment-accounts:
                label: Accounts
                children:
                    accounts:
                        route: accounts
                        label: Overview
                        extras: { routes: [account_show] }
            fulfilment-orders:
                label: Orders
                children:
                    orders:
                        route: zc_admin_orders
                        label: Overview
                        extras: { routes: [order] }
    reports:
        route: reports
        label: Reports
    tools:
        route: tools
        label: Tools
        children:
            tools-cms:
                label: 'Manage Content'
                children:
                    ezpages:
                        route: ezpages
                        label: Pages
                        extras: { routes: [ezpage, ezpages_edit, ezpages_new] }
            tools-admin:
                label: Admin
                children:
                    themes:
                        route: themes
                        label: Themes
                    block-groups:
                        route: block_groups
                        label: Blocks
                        extras: { routes: [block_group_admin] }
                    admin-users:
                        route: admin_users
                        label: 'Manage Users'
                        extras: { routes: [edit_admin_user] }
                    manage-roles:
                        route: manage_roles
                        label: 'Manage Roles'
            tools-misc:
                label: Misc
                children:
                    email-preview:
                        route: email_preview
                        label: 'Preview Email Templates'
    configuration:
        route: configuration
        label: Configuration
        children:
            configuration-plugins:
                label: Plugins
                children:
                    plugins:
                        route: plugins
                        label: 'Plugin Admin'
            configuration-installation:
                label: Installation
                children:
                    installation:
                        route: installation
                        label: Installation
            configuration-legacy:
                label: 'Zen-Cart Config'
            configuration-help:
                label: Help
                children:
                    about:
                        route: about
                        label: About
