<?php use ZenMagick\Base\Toolbox; ?>

<?php $schedule = $currentOrder->getSchedule(); ?>
<?php if (!Toolbox::isEmpty($schedule)) { ?>
    <h3>{{ 'Subscription'|trans }}</h3>
    <?php $schedules = $subscriptions->getSchedules(); ?>
    <p>{{ 'Order schedule: '%s%.'|trans({'%s%' : schedules[schedule]['name']}) ?></p>

    <?php if ($currentOrder->isSubscription()) { ?>
        <a href="{{ path('cancel_subscription', {'orderId' : currentOrder.id}) }}">
            {{ 'Cancel Subscription'|trans }}
        </a>
    <?php } ?>
<?php } ?>
