<?php use ZenMagick\Base\Toolbox; ?>

<?php $schedule = $currentOrder->getSchedule(); ?>
<?php if (!Toolbox::isEmpty($schedule)) { ?>
    <h3>{{ 'Subscription'|trans }}</h3>
    <?php $schedules = $subscriptions->getSchedules(); ?>
    <p>{{ 'Order schedule: "%schedule%".'|trans({'%schedule%' : schedules[schedule]['name']}) }}</p>
<?php } ?>
