## Allow GET for all
#<LimitExcept GET>
#  order allow,deny
#  allow from all
#</LimitExcept>
<Limit GET>
  order deny,allow
  allow from all
</Limit>


# allow all files
<Files *>
  order deny,allow
  allow from all
</Files>

# ... but still deny access to PHP files
<Files *.php>
  order deny,allow
  allow from all
</Files>
