/* for older browsers and Opera there must be a HTML section.  The "*" section set all to zero to
begin.  Put all the old stuff and all the glittering generalities in here.  Drop the whitespace 
attack on the elements and basicalyt zero this thing.  All element code is structure specific -
no generalities -pure CSS*/
* {
	margin: 0;  /* the global whitespace reset  */
	padding: 0;
}

html {margin: 0;  /* this is for all the Opera lovers of the world and the very old browsers */
	padding: 0;
}

h1, h2, h3, ,h4, h5, h6, ul, ol {
margin: 0; 
padding: 0;
}



/* all elements have names and places where they belong until there is something that is general enough*/
/* end of the general stuff to make everybody happy   */
 body {
	margin:0;
	padding:0;
	width:100%;
	background-color: #ECE9D8 ;
	text-align: center;
	font: normal 100% georgia, helvetica,arial, sans-serif;
     scrollbar-base-color:#f4f6d6;

}


form {
}


input, textarea, button {
	padding: 5px;
	font: bold 1em Georgia, "Times New Roman", Times, serif;
	color: #333333;
	background: #F9F3DF;
	border-top: 1px solid #CB960F;
	border-right: 1px solid #CCCC99;
	border-bottom: 1px solid #CCCC99;
	border-left: 1px solid #CB960F;
}
/* going to comment out these general anchor tags 

a {
	text-decoration: none;
	color: #70A300;
}

a:hover {
	border: none;
	color: #70A300;
}
*/
/*  Container Tag  */

#container {
width:90%;
margin:0 auto;
max-width:80em;
min-width:37.5em;
/* The min-width property does not work in old versions of Internet Explorer */
}



/* Header */

#header {
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	overflow: hidden;	
	width:100%;
	height: 10.1em;
	padding:0;
	margin:0;
	background-image: url(../images/headerbacgrd.png); 
	background-repeat:repeat-x;
	/*border-bottom:2px solid #000000;*/
	text-align: left;
	position:relative;
}
#header  #logo {
width:	45%;
height: 100%;
}

/*#header  #logo .logoimage {
position: absolute;
clear:both;
top: 0.34em;
left: 0.35em;
}
*/
 #header  #logo h1,  #header  #logo h2 {	
	position: absolute;
	width: 35%;
	text-transform: lowercase;
	font-weight: normal;
}

 #header  #logo h1 {
	display:block;	
	left: 2em;
	top: .8em;
	color: #FA9000;
	font-size: 2.1em;
	
}

 #header  #logo h2 {
	color:#FA9000;
	top: 6em;
	left: 8em;
	font-size: 1.3em;
}
#header #creatacct{
height:2em;
overflow:hidden;
position:absolute;
right:2%;
top:2em;
width:60%
}
#header #creatacct a{ 
padding: .25em .8em;
text-transform: lowercase;
text-decoration: none;
font-size: 1em;
color: #FFFFFF;
float:right;
}
#header #creatacct a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
 
#header #menu {	
	position: absolute;
	overflow:hidden;
	width: 70%;
	height: 2.2em;
	top: 6.5em;
	right:2%;
	z-index:1;	
}

#header #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position:relative;
	clear:right;
	float:right;	
	text-align:center;	
}

#header #menu li {
	float: left;
	display:inline;
}

#header #menu a {
	display: block;
	float: left;
	border-left: 1px solid #99C233;
	margin-right: .25em;
	padding: .25em .8em;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 1em;
	color: #FFFFFF;
}

#header #menu a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

#header #menu .last a {
	margin: 0;
	padding-right: 0;
}

#pagebar{
 -moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px; 
 height: 2.5em;
 margin:0;
width:100%;
 }
#pagebar #pagemenu {
-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
float:left;
width:100%;
padding:0;
background-color:#ae320b; 
border-bottom:2px solid #ffffff;
overflow:hidden;
position:relative;
height:100%;
/*font-family:Verdana, sans-serif;*/
}
 
#pagebar #pagemenu ul{
clear:left;
float:left;
list-style:none;
margin:0;
padding:3px 0px 5px 0px;
position:relative;
left:50%;
text-align:center;
}
 
 #pagebar #pagemenu ul li{
display:block;
float:left;
list-style:none;
margin:0;
padding:0;
position:relative;
right:50%;
} 
#pagebar #pagemenu ul li.first{
border-left:1px solid #7E7567;}
#pagebar #pagemenu ul li.last{
 border-right:1px solid #ECE9D8;}

#pagebar #pagemenu  ul li a{
display:block;
float:left;
margin:0;
padding:10px 10px 5px 10px;
border-left:1px solid #ECE9D8;
border-right:1px solid #7E7567;
color:#ffffff;
text-decoration:none;
line-height:1.3em;
font-size:.8em;
text-transform: lowercase;

}
#pagebar #pagemenu  ul li a:hoover{
color:#000;
background-color:#ECE9D8;
border-left:1px solid #fff;
padding-top:18px;
padding-bottom:8px;
}

#pagebar #pagemenu  ul li.active a,
#pagebar #pagemenu  ul lii.active  a:hoover{ 
color:#fff;
background:#000;
border-left:1px solid #000;
padding-top:18px;
padding-bottom:8px;
}



/* Column Container  */

#colmask {
	position:relative;
	clear:both;
	float:left;
	width: 100%;
	overflow:hidden;
}

/* The common column container settings  */

#colmid, #colleft{
float:left;
width:100%;
position:relative;
}

#content, #sidebar1, #sidebar2{
float:left;
position:relative;
padding: .5em 0 1em 0;
}

/* set up for the 3 column shift  */

.threecol{
background:#f8fae5;
}

.threecol #colmid{
right:25%;

}

.threecol #colleft {
right:50%;

}

/* Main Columns work  */

.threecol #content {
	width: 46%;
	left:102%;

}
.threecol #sidebar1{
width:21%;
left:31%;
}
.threecol #sidebar2{
width:21%;
left:85%;
}

#content #mainpagestack{
color:red;
margin:0 0 2em 0;
padding:1em;
}
#content #mainpagemain{
color:blue;
margin:1em 0 2em 0;
padding: 1em;
}


/* Internal Sidebar Action */

.sidebar {
	float: left;
}

.sidebar ul {
	margin: 5px 0;
	padding: 0;
	list-style: none;
	font-size:.85em
}

.sidebar li {
	padding-bottom: 20px;
}

.sidebar li ul {
}

.sidebar li li {
	padding: 5px 0;
}

.sidebar h2 {
	background: url(../images/img03.jpg) repeat-x left bottom;
	letter-spacing: -1px;
	color: #d66902;
}
.sidebar a {
text-decoration:none;
font-weight:bold;
padding:3px;
color:#339900;
}


/* Search */

#search {
}

#search form {
	margin: 0;
	padding: 0;
}

#search #s {
	width: 94%;
	border: 1px #DEDEDE solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

#search #submit {
	padding: 3px 10px;
	margin: 5px 0 0 0;
	background: url(../images/img04.jpg) repeat-x left top; 
	border: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}

/* Footer */

#footer {
	clear: both;
	width: 100%;
	height: 2.5em;
	margin: 0 auto;
	background: #ae320b;
}
#footer a{
text-decoration:none;
color:#ffffff;
}

#footer p {
	margin: 0;
	padding: .7em 0px;
	font-size: .8em;
	color:#ffffff;
}

#footer .legal {
	float: left;
	height: 2.5em;
	margin: .2em 0 0 1.5em;
}

#footer .credit {
	float: right;
	height: 2.5em;
	margin: .2em 1.5em 0 0;
}
