#style-switcher {color:#000;}
#style-switcher a {color:#fff;}

#categories ul {margin:0;}
#categories li {list-style:none;display:block;padding:2px;margin-bottom:1px;}
/*#categories li a {font-weight:bold;text-decoration:none;padding:3px;color:#339900;}*/
#categories li ul {margin:3px 0 3px 8px;font-size:1em;font-weight:normal;}
#categories li ul li {margin-bottom:0;}
#categories li ul a {font-weight:normal;}
#categories li a:hover {text-decoration:underline;}
/* show only active sub-categories */
#categories ul ul {display:none;}
#categories ul.act {display:block;}
#categories a.curr {text-decoration:underline;}

#sb_manufacturers {padding:4px 6px;background: #F9F3DF;}
#sb_manufacturers select {
width:100%;
text-decoration:none;
background-color:#f4f6d6;

}
#sb_manufacturers .box {
background-color:#f4f6d6;
color:#505050;
}

.sidebar h2 {position:relative;}
.sidebar h2 a {position:absolute;top:0;right:2px;font-size:66%;}

.box {
border:1px solid #c0c0c0;
background-color:#f4f6d6;
color:#505050;
width:90%;
padding:3px;
overflow:hidden;
}

.box form, form#searchform {padding-top:5px;}
.box ol li {text-align:left;margin-left:1.4em;}
#sb_featured p {margin:0;padding:1px;text-align:center;}

/* general */
fieldset {padding:5px;}
legend {margin-left:1em;padding:0 3px;}
label {display:inline;padding:0 5px;}

/* result lists */
form.ropt {text-align:right;}
form.ropt div {display:inline;}
div.rnav {text-align:right;padding:6px;}
div.rlist td {padding:4px 5px 6px 2px;border-top:1px solid #dedede;}
td.pprice {font-weight:bold;vertical-align:top;}
td.pinfo {vertical-align:top;}

/* homepage featured */
#featured h3 {
color:black;
text-align:left;
margin-top:1em;
font-size:2em;
}

#featured div {
float:left;
width:12.5em;
background:#e5dfbd;
min-height:12.2em;
border:1px dotted gray;
text-align:center;
margin:13px 6px 6px 0;
padding-top:6px;
}
#featured div p a{
text-decoration:none;
font-weight:bold;
padding:3px;
color:#339900;
}
