<?php if (1 < $resultList->getNumberOfPages()) { ?>
    <div class="rnav">
        <span class="pno"><?php _vzm("Page %s/%s", $resultList->getPageNumber(), $resultList->getNumberOfPages()) ?></span>
        <?php if ($resultList->hasPreviousPage()) { ?>
            <a href="<?php echo $net->resultListBack($resultList) ?>"><?php _vzm("Previous") ?></a>&nbsp;
        <?php } else { ?>
            <span class="nin"><?php _vzm("Previous") ?></span>&nbsp;
        <?php } ?>
        <?php if ($resultList->hasNextPage()) { ?>
            <a href="<?php echo $net->resultListNext($resultList) ?>"><?php _vzm("Next") ?></a>
        <?php } else { ?>
            <span class="nin"><?php _vzm("Next") ?></span>
        <?php } ?>
    </div>
<?php } ?>
