<?php $view->extend('StorefrontBundle::popup_layout.html.php'); ?>
<h1>{{ 'What is CVV?'|trans }}</h1>

<div>
  <?php echo $utils->staticPageContent('popup_cvv_visa_master') ?>
  <img src="<?php echo $view['assets']->getUrl('bundles/storefront/images/icons/cvv2visa.gif') ?>" alt="{{ 'cvv sample 1'|trans }}" />
</div>

<div>
  <?php echo $utils->staticPageContent('popup_cvv_amex') ?>
  <img src="<?php echo $view['assets']->getUrl('bundles/storefront/images/icons/cvv2amex.gif') ?>" alt="{{ 'cvv sample 2'|trans }}" />
</div>

<div id="close"><a href="#" onclick="javascript:window.close()">{{ 'Close Window [x]'|trans }}</a></div>
