{% extend '@Storefront/popup_layout.html.twig' %}
{% block body %}
<h1>{{ 'Search Help'|trans }}</h1>

    {{ utils.staticPageContent('popup_search_help')|raw }}

<div id="close"><a href="#" onclick="javascript:window.close()">{{ 'Close Window [x]'|trans }}</a></div>
{% endblock %}
