<?php $view->extend('StorefrontBundle::popup_layout.html.php'); ?>
<h1><?php _vzm("Search Help") ?></h1>

<?php echo $utils->staticPageContent('popup_search_help') ?>

<div id="close"><a href="#" onclick="javascript:window.close()"><?php _vzm("Close Window [x]") ?></a></div>
