<?php $view->extend('StorefrontBundle::popup_layout.html.php'); ?>
<h1>{{ 'Search Help'|trans }}</h1>

<?php echo $utils->staticPageContent('popup_search_help') ?>

<div id="close"><a href="#" onclick="javascript:window.close()">{{ 'Close Window [x]'|trans }}</a></div>
