body #header h1 a {color:red;}
body #content h2 {text-align:left;margin:12px 0 6px;border-bottom:1px solid gray;}
body #content dl {margin-left:.4em;}
body #content dt {font-weight:bold;}
body #content dd {margin-bottom:6px;}
