<?php if (isset($whoIsOnline)) { ?>
    <?php $stats = $whoIsOnline->getStats(); ?>
    <?php if (0 < $stats['total']) { ?>
        <h3>{{ 'Who's Online'|trans }}</h3>
        <div id="sb_whos_online" class="box">
            {{ 'There are currently %guests% guests and %registered% registered users online.'|trans({'%guests%' : stats['anonymous'], '%registered%': stats['registered']}) }}
        </div>
    <?php } ?>
<?php } ?>
