<?php if (isset($whoIsOnline)) { ?>
    <?php $stats = $whoIsOnline->getStats(); ?>
    <?php if (0 < $stats['total']) { ?>
        <h3><?php _vzm("Who's Online") ?></h3>
        <div id="sb_whos_online" class="box">
            <?php _vzm("There are currently %s guests and %s registered users online.", $stats['anonymous'], $stats['registered']); ?>
        </div>
    <?php } ?>
<?php } ?>
