#sb_categories ul {margin:0;}
#sb_categories li {list-style:none;display:block;padding:2px;margin-bottom:1px;}
#sb_categories li a {font-weight:bold;text-decoration:none;padding:3px;color:#339900;}
#sb_categories li ul {margin:3px 0 3px 8px;font-size:1em;font-weight:normal;}
#sb_categories li ul li {margin-bottom:0;}
#sb_categories li ul a {font-weight:normal;}
#sb_categories li a:hover {text-decoration:underline;}
/* show only active sub-categories */
#sb_categories ul ul {display:none;}
#sb_categories ul.act {display:block;}
#sb_categories a.curr {text-decoration:underline;}

/* general */
fieldset {padding:5px;}
legend {margin-left:1em;padding:0 3px;}
label {display:inline;padding:0 5px;}

/* result lists */
form.ropt {text-align:right;}
form.ropt div {display:inline;}
div.rnav {text-align:right;padding:6px;}

/* homepage featured */
#featured div {float:left;width:150px;min-height:195px;_height:195px;border:1px dotted gray;text-align:center;margin:3px 6px 6px 0;}
