<IfModule mod_rewrite.c>
    Options +FollowSymLinks -MultiViews -Indexes
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    # RewriteBase /
    #</IfModule>
    RewriteRule mcs_learn_more.html includes/templates/template_default/mcs_learn_more.html [L]
    RewriteRule vbv_learn_more.html includes/templates/template_default/vbv_learn_more.html [L]
    RewriteRule ipn_main_handler.php /ipn [QSA]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the startpage to the front controller explicitly so that the website
        # and the generated links can still be used.
        RedirectMatch 302 ^/$ /app.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>
